[2015-10-16 18:56] jparise opened #9 "Blog RSS / Atom feed?"
It would be great if there was an RSS feed for blog entries.

[2015-12-08 06:24] kevinSuttle opened #12 "'Example' anchor links are all named #example"
I know this is because they're `####` compiling to `h4`, but it would seem to be a better UX to give each section example its own named anchor link.

e.g. http://graphql.org/docs/api-reference-type-system/

[2016-08-19 06:39] stubailo commented on #12
In other docs I work on, we don't use `###` headings at all, for this reason and also because it means you can't change the heading text without breaking links to that heading.

Perhaps always using `<h3 id="my-section">My section</h3>` could be a good style rule.

[2016-08-22 22:59] stubailo opened #38 "Figure out a schema for all query examples"
That way, we can set up all of the examples with the interactive query editor, instead of having static code snippets. But we need to make sure the schema has all of the features we want to demonstrate. Opening the issue here to keep track of this need.

[2016-08-22 23:00] stubailo opened #39 "Set up automatic GraphiQL-ization of code snippets"
Ideally, you can just write markdown code snippets, and they will get converted to interactive editors automatically. That way, you can still read the files in markdown format.

This means we need a way to tag which ones need to be interactive, since the schema examples probably won't be.

[2016-08-23 18:31] #9 closed

[2016-08-23 19:18] stubailo commented on #38
Going to do this after writing up the other section of "Learn", since we need a complete catalog of schema features necessary.

[2016-08-23 20:23] leebyron opened #41 "[Master] New graphql.org"
This is a master task for all the various work necessary for the graphql.org relaunch with inline assignees by page.

- [ ] /index.html @leebyron
- /learn/
  - [ ] learn/index.html @stubailo
  - [ ] learn/language/ @stubailo
  - [ ] learn/type-system/ @stubailo
  - [ ] learn/validation/ @leebyron
  - [ ] learn/execution/ @leebyron
  - [ ] learn/introspection/ @leebyron
  - Best Practices
    - [ ]

[2016-08-30 01:28] stubailo commented on #38
Needs to have union types.

[2016-08-30 08:04] stubailo commented on #38
@leebyron how do you feel about implementing the schema using the "model-style" code, where we just make a schema using the schema language, and then pass all of the args through to the default resolver? Right now there are a ton of comments with the schema language, and keeping those in sync with the actual implementation seems super tedious.

Just wanted to check in before making that change.

[2016-08-30 08:04] #39 closed

[2016-08-30 15:59] leebyron commented on #38
Yeah I think that makes sense

[2016-08-30 17:16] stubailo commented on #38
Note: Make an example of a non-nullable list

[2016-08-30 17:49] leebyron commented on #38
I like your idea to use search results as a use for union types - it's actually a pretty good canonical case for when you would use union, modeling a heterogeneous list.

It probably wouldn't be too hard to make a ghetto search feature which returned Films based on title, Characters on name, Starships on model, etc.

[2016-08-30 18:10] stubailo commented on #38
Heh, I copied it from the spec :]

Agreed about the search feature in the schema. It could be implemented as a basic regex search.

[2016-08-30 18:54] leebyron commented on #38
Haha nice. Thats probably thanks to Dan or Nick

[2016-08-31 07:33] stubailo commented on #38
WIP: #44

[2016-09-01 22:47] stubailo opened #45 "Todos for learn section"
- [x] Cover `__typename`
- [x] Cover non-root field arguments in queries
- [x] Cover input objects
- [x] Defining operations for arguments
- [x] Default values for arguments
- [ ] Convert index.html to match new schema

[2016-09-01 22:58] #38 closed

[2016-09-02 05:41] #45 closed

[2016-09-02 05:42] stubailo opened #46 "Convert index.html to match new example schema"

[2016-09-07 21:19] #46 closed

[2016-09-12 18:34] hramos opened #60 "[New-Source] Missing hrefs in Learn landing page"
Most of the links in the table of contents at https://github.com/graphql/graphql.github.io/blob/new-source/site/learn/index.html.js are missing hrefs:

[code]

[code]

This page is linked to from the "Learn" navigation item in the header.

[2016-09-12 18:35] hramos commented on #60
cc @lacker

[2016-09-12 18:57] leebyron commented on #60
Thanks for the task. This file is still a WIP.

[2016-09-13 05:12] #60 closed

[2016-09-14 17:27] #12 closed

[2016-09-15 02:46] MrOrz opened #83 "Missing mutation result type in the doc "Mutations and Input Types""
Referred doc: http://graphql.org/graphql-js/mutations-and-input-types/
Source: https://github.com/graphql/graphql.github.io/blob/c22ba1a/site/graphql-js/Tutorial-Mutations.md

The result type of `createMessage` and `updateMessage` is missing in the schema and the "runnable code" example.
I was expecting the doc to specify the result of mutation types -- a simple boolean that indicates success/fail

[2016-09-15 05:08] lacker commented on #83
Ah true all the return type stuff in there seems borked. I was trying to simplify the example but I think I cut too much. I'll fix it. For a normal createMessage and updateMessage on a simple app I would suggest defaulting to returning the newly updated message instance - you're likely to want the newly-assigned id, and it's probably efficient to have that data accessible anyway. For a more compli

[2016-09-15 06:04] lacker commented on #83
OK I fixed this doc up in https://github.com/graphql/graphql.github.io/pull/85 - thanks for filing this issue.

[2016-09-15 20:59] jfresco opened #101 ""More GraphQL users" button responds with 404"
![moreusers](https://cloud.githubusercontent.com/assets/4335188/18567354/2c153fb2-7b6e-11e6-86d6-022611b1cb66.gif)

[2016-09-15 21:04] leebyron commented on #101
Yeah - unclear what's happening.

http://graphql.org/users/index.html still works...

@brandonblack - is GH messin with their pages web frontend today?

[2016-09-15 21:14] leebyron commented on #101
Seems to have magically fixed itself! 😖

[2016-09-15 21:14] #101 closed

[2016-09-15 23:05] #83 closed

[2016-09-16 00:39] brandonblack commented on #101
@leebyron alpha particles ✨

I haven't seen any outages on pages today, but there were some delays / backups on jobs that might have impacted this. Either way, all good now!

[2016-09-17 10:42] dortzur opened #119 "Easier navigation to graphql-js tutorial"
The entire section of http://graphql.org/graphql-js/ which contain the node.js tutorials isn't mentioned in the header or the footer of graphql.org. I think that's a shame since this section is very well written and frankly pure gold for anyone implementing with node.js.

I could only find links to the page though http://graphql.org/code/ and it's not that clear in there you're going to see a thor

[2016-09-17 22:14] stubailo commented on #119
I think the "code" page could really benefit from a sidebar - that way you could click "code", then the sidebar could have a link to the graphql-js tutorial.

[2016-09-19 16:18] lacker commented on #119
I was going back and forth with @leebyron about this & at some point during development had a sidebar with more stuff. I personally am a fan of linking to this from more places but Lee is kind of the site layout dictator here ;-)

[2016-09-19 19:48] leebyron commented on #119
@dortzur - we're trying to avoid the notion that GraphQL is a Node.js technology, and I think that would be made more problematic by having solicited links to the Node.js docs in prominent places while not having links to the Ruby or Java implementations, for example, which are both heavily used.

/code/ is absolutely the right place for these links to live, as well as linking to the site from the

[2016-09-19 19:53] leebyron commented on #119
One thing I think we can do to improve this is drive more traffic to the "Code" section, which the Node.js version is rightfully focused. I'll draft a change which helps people understand this to add to the "Learn" section.

[2016-09-19 20:08] dortzur commented on #119
Giving it it's own website makes sense. And I understand where you're coming from not wanting to couple GraphQL to Node.js too tightly.

I still think the current state of the Code section has a "hidden gem" problem. For example snooping around I saw the Scala implementation http://sangria-graphql.org/learn also has a very nice tutorial mini-site.

I think this is a vastly different experience the

[2016-09-19 20:10] leebyron commented on #119
I definitely agree with you that we should be promoting higher quality documentation! That's really good feedback.

[2016-09-22 14:54] lpalmes opened #133 "Cant access `graphql.org/docs/introspection`"
It seems that it escapes the js script when trying to access [introspection](http://graphql.org/docs/introspection/)

It respond with this piece as html escaped text
[code]

[2016-09-22 15:53] j0k3r commented on #133
Because there is nothing more :trollface:
https://github.com/graphql/graphql.github.io/blob/source/site/docs/introspection/index.html

It should be a `.html.js`

[2016-09-22 17:26] kwi-dk opened #136 "List public GraphQL APIs on website"
... aka "enough about Star Wars". ;-)

I want to know about real-world GraphQL APIs, which can hopefully inspire my own API design and demonstrate best practices.

Facebook, and indeed most of the companies on the "Who’s using GraphQL?" page, seem to only use it internally, and that's great for them but doesn't really teach me anything. GitHub has a [publicly documented](https://developer.github.c

[2016-09-27 11:43] benben opened #146 "Extend Versioning paragraph in Best Practises"
The [Versioning](https://github.com/graphql/graphql.github.io/blob/source/site/learn/BestPractice-Introduction.md#versioning) in the Best Practises section is explaining why traditional REST APIs need Versioning to deal with breaking changes. But later sentences don't explain what are the best practises with GraphQL do deal with breaking changes. For example how should I handle the case when I wan

[2016-09-27 14:15] j0k3r commented on #146
As far as I understand best practices are to keep your old field and add the new one.
Then you flag this old field as deprecated (`isDeprecated`) in your schema.

https://facebook.github.io/graphql/#sec-Object-Field-deprecation

But yeah I agree that a dedicated section about versioning could be a good idea.

[2016-09-27 18:13] #133 closed

[2016-09-28 19:10] benben commented on #146
Thansk for your reply. I just saw that Facebook is still versioning their GraphQL API in the URI. Two other questions: How do you deprecate a whole type? How do you deal with mutations?

[2016-09-28 19:11] stubailo commented on #146
Are they? I haven't heard anything about this, as far as I know they've been using the same schema since the beginning. If anything, I suspect this is because they have rewritten the entire syntax and so they would need a separate endpoint for the old query language.

I imagine you would deprecate all fields that point to that type. And you can deprecate mutations the same way, since they are just

[2016-09-28 19:15] benben commented on #146
@stubailo See here https://developers.facebook.com/docs/graph-api/overview/#versions

[2016-09-28 19:18] stubailo commented on #146
The Graph API is not the same thing as GraphQL, even though they have similar names. Facebook doesn't have a public GraphQL API at all.

[2016-10-04 22:39] stubailo commented on #146
The need for a versioning page is already recorded in the new site plan: https://github.com/graphql/graphql.github.io/issues/41

Going to close this issue then.

[2016-10-04 22:39] #146 closed

[2016-10-05 18:40] leebyron commented on #136
As far as I'm aware, Github is the current brave company to make their GraphQL API public. It's probably a bit silly to have a list of one thing on the site - but if there are others out there I'm happy to entertain a pull request to add such a section!!!

[2016-10-05 18:40] #136 closed

[2016-10-06 14:04] MAOliver opened #162 "window.opener phishing vulnerability"
I had the graphql.org site up and opened this article "[Why I believe graphql will come to replace rest](https://dev.to/reactiveconf/why-i-believe-graphql-will-come-to-replace-rest)". The dev.to page redirected my graphql.org tab to [https://dev.to/phishing](https://dev.to/phishing).

[2016-10-06 20:21] uhoh-itsmaciek opened #163 "graphql.js custom scalar type docs are very vague"
I was trying to create a custom scalar type by [reading the docs](http://graphql.org/graphql-js/type/#graphqlscalartype), but what's there is very vague and confusing:

 * What are the semantics of the three required functions? Only names are listed right now.
 * The example doesn't compensate for the lack of descriptions, since it uses the same function for two of the fields
 * The example type i

[2016-10-06 22:17] stubailo commented on #163
We have three examples with graphql-tools here: http://dev.apollodata.com/tools/graphql-tools/scalars.html

The syntax is a bit different, but the functions are the same. Perhaps we can move those docs to the graphql-js docs here.

[2016-10-06 22:36] uhoh-itsmaciek commented on #163
Yes, I think that would be great. That page doesn't describe the semantics of these methods, though (except for some one-liner comments). A short blurb on that for each method would be really helpful.

[2016-10-13 16:06] MAOliver commented on #162
The graphql site still contains a bunch of target="_blank" links (source of the vulnerability), but dev.to appears to no longer be "warning" against it.

[2016-10-17 14:15] mingrammer opened #173 "For translation"
Can I translate this documents to korean on this blog or cloned repository?

[2016-10-26 18:28] leebyron commented on #162
Thanks for the report - is this the best description of the vulnerability or do you have a better one? https://www.jitbit.com/alexblog/256-targetblank---the-most-underestimated-vulnerability-ever/

[2016-10-27 13:04] MAOliver commented on #162
That seems right. I don't have any better examples.

[2016-10-27 19:03] #162 closed

[2016-10-30 02:33] conan007ai commented on #173
Same here, would like to provide a Chinese version of this documents.

[2016-11-07 15:30] benben commented on #146
Ah right, then I messed it up a bit 😊
Thanks for clarifying and working on it!

[2016-11-10 01:37] leebyron opened #204 "Explain errors as data"
As suggested in https://github.com/graphql/graphql-js/issues/560

Sometimes errors are totally expected and deserve to be represented as data in an API. This is worth a best practices post

[2016-11-22 19:59] asiandrummer commented on #173
@mingrammer and @conan007ai - this sounds great! I'm not sure what you have in mind in terms of structuring the translation files and/or the maintenance plan in the future, but I think we can get started if you're interested and then see where this takes us.

@mingrammer I can help out/review PRs with Korean translations - we can chat more if you'd like to ;)

[2016-12-25 18:30] morris opened #240 "Pagination alternative"
Merry christmas everyone 🎁

Here's an alternative to the recommended approach regarding pagination.

[code]

The idea is a basic convention: Any list field `x` may have pagination info at `xPage`. `hasNextPage/hasPrevPage` would be `nextCursor/prevCursor !== null`, respectively.
`cursors` would hold a list of cursors aligned to the returned items.

Pros:

- Much less types. For example, no `Person

[2016-12-29 06:22] asiandrummer commented on #240
Hi @morris - first of all thanks for the suggestion! There are some questions/issues that we were able to identify with this approach:

1. I presume that having an extra type to inquire for pagination information would require multiple resolvers (e.g. `field` and `fieldPageInfo`) to have access to the same data, probably treated as mutable. Not sure if this is officially disallowed, but at most th

[2016-12-29 14:14] martinheidegger opened #241 "operationName is hard to grasp"
The current section about operation names, here: http://graphql.org/learn/queries/#operation-name
reads like this:

The problem is that after reading this section there is no example or other hint on the shape in which the operation's name should be specified or where to look up the spec. It would be nice to be pointed to somewhere in this section.

Aside from that: Thank you for your great work!

[2016-12-29 21:25] morris commented on #240
Hi @asiandrummer, thanks for working through this.

1. Good point. I do think it's feasible (some strategy using promises/deferred resolution comes to mind) and worth the overhead if it simplifies the API and its evolution.
2. That's definitely a caveat. I'd go for:

[code]

Should work, although certainly not ideal, as the resolvers now need to know about aliases, too.

Of course you're right - t

[2017-01-05 08:29] stubailo commented on #240
A fine alternative is:

[code]

AFAIK this gives you some of the benefits of the connections with edges/nodes but without the extra vocabulary.

[2017-01-17 16:30] wincent commented on #241
Good point, @martinheidegger. Would you like to submit a PR that adds a (probably small) example?

[2017-01-17 18:26] stubailo commented on #241
I agree with this - that section introduces a lot of new concepts at the same time and should probably do that incrementally.

[2017-01-22 00:52] darknoon opened #250 "Documentation about adding a mutation was hard to follow"
I was looking into how to add a "Create User" mutation to my graphql-js server. It took me a while to end up at the right code, so just documenting where I got confused:

1. Searched for "Mutation" on the site. There are two sections ostensibly about mutation:
 a. http://graphql.org/learn/queries/#mutations
  b. http://graphql.org/learn/schema/#the-query-and-mutation-types
1. Skimming each page, i

[2017-01-23 05:46] martinheidegger commented on #241
@wincent Sorry, but I havn't figured out how it is supposed to work yet.

[2017-01-23 22:31] asiandrummer commented on #173
@mingrammer @conan007ai @kokosoft I'd love to collaborate on this! I think there are several things we should do to tackle this technically:
- Create a button/drop-down menu to support showing/choosing multiple languages for translations
- Modify the build script to output the top level directory structure with the mirrored site
- Add a Korean/Chinese translation for markdown files

We can think a

[2017-01-24 00:34] stubailo commented on #241
Operation name is a "cosmetic" name for this particular query, much like a function name in JavaScript. So:

[code]

Is like an anonymous function:

[code]

Here's a query with an operation name:

[code]

That's like a named function:

[code]

Basically it's a string you can use to refer to that function in your code, developer tools, logs, stack traces etc.

[2017-01-27 09:34] idibidiart commented on #241
@stubailo a funny thing I ran into just now that's confusing m noob brain:

when I don't use "query" as in "query { ... " and instead use just "{ ... " GraphiQL returns an error saying it "Unknown operation named \"null\""

If I use "query { ..." it works just fine, but if I then remove "query" and re-evaluate it works, too, but not after I refresh the GraphiQL page (then it requires 'query' quali

[2017-01-27 18:13] spencerhakim opened #252 "graphql-js docs don't list any class methods"
Unless I'm missing something, you have to dig into the source to see what, if any, methods are defined on the `GraphQL*` classes in the [graphql-js docs](http://graphql.org/graphql-js/type/). Currently only the constructors are listed.

- https://github.com/graphql/graphql-js/blob/v0.9.1/src/type/definition.js#L315
- https://github.com/graphql/graphql-js/blob/v0.9.1/src/type/definition.js#L415
- h

[2017-01-27 18:17] wincent commented on #241
Sounds like it could be. If you can still repro on the latest release (0.9.1), please report it over [on the GraphiQL issues page](https://github.com/graphql/graphiql/issues).

[2017-03-10 09:02] Mitranim opened #283 "Mention Scaphold.io on http://graphql.org/code/"
https://scaphold.io looks like a fantastic BaaS dedicated to GraphQL. I only heard about it by accident. Be nice if the official docs suggested it.

[2017-03-25 09:05] stubailo commented on #283
It doesn't fit well with the current content of that page, but it maybe could be reasonable to add a section with something like "GraphQL services"? I think there are like 5-6 services that would qualify.

[2017-04-15 21:08] stubailo opened #294 "Document default values for query variables"
Below this section in the docs: http://graphql.org/learn/queries/#variables

There should be a section about how to set default variables. You can see an example of how this works in @clayallsopp's great article, [GraphQL Tour: Variables](https://medium.com/the-graphqlhub/graphql-tour-variables-58c6abd10f56)

Could be a great first PR for somebody!

[2017-04-18 20:10] SheW0lf commented on #294
I would like to work on this.

[2017-04-21 02:18] #294 closed

[2017-05-01 07:58] hanachin opened #305 "link rot http://graphql.org/users/"
The link [More GraphQL Users](http://graphql.org/users/) in http://graphql.org returns 404 error

[2017-05-01 17:25] pm-dev commented on #305
Most likely due to: https://github.com/graphql/graphql.github.io/pull/304

[2017-05-01 22:55] wincent commented on #305
With  bdf8894 this hopefully won't happen again.

[2017-05-01 22:55] #305 closed

[2017-05-01 22:55] wincent commented on #305
Thanks for the report, @hanachin.

[2017-05-09 17:31] leebyron commented on #283
Would consider PRs adding this kind of section to that page!

Bonus points for a nice nav sidebar that helps people jump around on that page

[2017-05-10 02:34] stubailo commented on #241
By the way, I wrote a post about this recently: https://dev-blog.apollodata.com/the-anatomy-of-a-graphql-query-6dffa9e9e747

If someone has time, please send some PRs to GraphQL.org with content lifted from that post!

[2017-05-29 16:08] stubailo opened #318 "Add graphql-tools reference to GraphQL.js tutorial"
Right now a lot of people are running into confusion with the `buildSchema` approach in the [getting started guide](http://graphql.org/graphql-js/), there are a few things that are confusing about it:

1. The root object isn't the same as the usual resolvers. Resolvers have a signature of `(root, args, context)`, but with the `rootValue` object instead you get `(args, context)`.
2. You get stuck a

[2017-05-29 17:42] OlegIlyenko commented on #318
I wonder whether it would be possible to add some of the features from `graphql-tools` in `buildSchema`? Things like `__resolveType` sound like a very good addition to support interface and union types.

AFAIR, as `buildSchema` it was introduced, it's main purpose was to build schema for validations and introspection, but not actual execution (please correct me if I got it wrong). The dynamics hav

[2017-05-29 18:05] stubailo commented on #318
I think `buildSchema` as a single function was introduced specifically for this tutorial by @lacker, and using it in the getting started tutorial was a conscious choice to recommend using the schema language.

While I do think it would be great if `buildSchema` was improved to include some of these other features, I think it will be much easier for us to iterate quickly if that was kept outside of

[2017-05-30 17:57] wincent commented on #318
I think @OlegIlyenko has a good point. The tutorial is called "Getting Started With GraphQL.js", so I think we should probably:

1. Keep it about GraphQL.js.
2. Look at rolling improvements into GraphQL.js to make it easier to use (either enhancing `buildSchema` or adding another API).
3. Add references to `graphql-tools` showing that it provides another, arguably simpler, way to build a schema.

[2017-05-30 18:02] stubailo commented on #318
OK - I think a reasonable start might be to add a callout to `graphql-tools` here: http://graphql.org/graphql-js/constructing-types/

Will send a PR with that!

[2017-06-27 16:42] npgall opened #335 "[documentation] Possibly incorrect example in pagination docs"
I'm just getting familiar with GraphQL, so forgive me if I'm missing something. But I found the following snippet confusing in the documentation on [pagination](http://graphql.org/learn/pagination/#pagination-and-edges).

...but in the associated example, the GraphQL request does not mention edges:
[code]

Should the example be something like this?:

[code]

Btw many thanks for releasing this impr

[2017-06-27 16:54] wincent commented on #335
Great catch @npgall: it should indeed have the `edges` field in there. Would you like to submit a PR?

[2017-06-27 18:18] npgall commented on #335
No problem I will create a PR. Thanks!

On 27 Jun 2017 5:54 pm, "Greg Hurrell" <notifications@github.com> wrote:

[2017-06-28 20:51] npgall commented on #335
PR is above. Let me know if you need anything else. Thanks!

[2017-06-29 17:39] wincent commented on #335
Thanks a bunch @npgall!

[2017-06-29 17:39] #335 closed

[2017-07-05 07:01] willin opened #342 "how to config algolia"
we forked this repo and translate it into chinese.

algolia has already setup.  index has been added. but cannot get search result.

is there anything must be config?

[2017-07-14 15:24] wincent commented on #342
Best documentation I am aware of for configuring Algolia is [here](https://github.com/algolia/docsearch). You can also see in 9b62327a1741085d9c76f17759765a06bb3d444f how we initially set things up when search was first added. I would expect you'd need to do your own registration and obtain an API key etc to test this out.

[2017-07-14 15:24] #342 closed

[2017-07-19 03:00] sqrthree commented on #173
Is there any progress here? My friends and I also want to translate this document into Chinese. Can we start the translation now?

[2017-07-19 18:23] wincent commented on #173
I think I'd like to see us do the same thing we've done with some other projects that Facebook either runs or is involved in:

- https://yarnpkg.com/
- http://facebook.github.io/jest/

Basically, that means using [Crowdin](https://crowdin.com) as a translation platform (it's a complex workflow and we don't want to re-invent the wheel for it).

[2017-07-27 03:26] jonirrings commented on #173
@sqrthree shall we transfer our current work of translation to Crowdin？
@wincent we've translated some this document, and it is hosted on graphql.cn ? does it violate any licsence or restriction of FB ?

[2017-07-27 13:02] steve-taylor opened #358 "Resolver parameter order documented incorrectly"
According to the documentation, resolver functions are written as follows:

[code]

However, when I build resolver functions, the parameters provided by GraphQL are

* `args`
* `context`
* `obj`

So I end up having to build resolvers as follows:

[code]

My understanding of these parameters is as follows:

* `obj` - the parent object, if any
* `args` - contains the arguments passed to the field in

[2017-07-28 08:58] INDEXGitHub2x opened #360 "AIU.UI.AU_CONFIGURATION_DRIVES"
+1

[2017-07-28 09:01] j0k3r commented on #360
:thinking:

[2017-07-28 14:39] #360 closed

[2017-08-04 02:33] leebyron commented on #358
The documentation is probably just not clarifying the difference between resolver API and the default resolver behavior.

The resolver API is correct as written. Object is always the first parameter.

However if a resolver is not provided, the default is used, which looks for a method on the object of the same name as the field. If it finds one, it calls it with the args and context (since it is a

[2017-08-04 02:33] #358 closed

[2017-08-04 02:36] leebyron commented on #318
Closing this issue - take away sounds on point. Always good to reference other tools, but keeping examples about the lib requiring as few additional dependencies as possible is the right outcome.

[2017-08-04 02:36] #318 closed

[2017-08-17 16:48] Peping opened #375 "Confused about how to merge fields in field selection"
Currently the GrapgQL spec at https://facebook.github.io/graphql/#sec-Field-Selection-Merging only mention conditions that have to apply in order for fields in a selection to merge. While discussing a fix to an issue ( https://github.com/Youshido/GraphQL/issues/138 ) the specification was brought up.

It is pretty confusing to infer how to actually merge fields in a selection just from the specs a

[2017-08-19 02:33] stubailo commented on #375
I think this should be reposted at https://github.com/facebook/graphql, the repo for the spec!

Really good question though.

[2017-08-19 02:33] #375 closed

[2017-08-21 10:03] jonirrings commented on #173
@asiandrummer hello, we've finished the web translation to Chinese, pls check http://graphql.cn/ and https://github.com/xitu/graphql.github.io

is there any solution to merge the translation into the official repo ?

[2017-08-25 18:44] wincent commented on #173
Thanks for doing all that work @jonirrings. My thinking on this is still like I [said above](https://github.com/graphql/graphql.github.io/issues/173#issuecomment-316474358) — that using a mature, third-party translation platform is the ideal end state — and we just need to figure out how to get from here to there.

Nothing that already exists: we'll have to figure out a path. Open to hearing ideas

[2017-09-22 15:08] ThisIsMissEm opened #391 "Transfer of graphql.training"
Hi!

I'm presently the owner of [graphql.training](http://graphql.training) (and its respective github organisation, @graphql-training). I'd like to transfer this domain across to the GraphQL Community, as I have no real use for it ([context](https://brandedcode.com))

I've tried to get in contact with people from the community in the past, but to no responses other than likes on twitter. If I don

[2017-10-10 19:57] patriklindstrom opened #401 "none of the example can be run on standard graphiql"
I tryed to past them in http://graphql.org/swapi-graphql and non of them worked. Why ? Is that not the obvious thing to do? examples from starwars. Here is a star wars standard simple hello world api. No none of the examples can be used to experiment with.  "message": "Cannot query field \"hero\" on type \"Root\". Did you mean \"person\"?". This is supposed to be a fun intro to GraphQl not a sudok

[2017-10-15 20:46] christiane-deneser commented on #283
Hi there,
can I work on that issue and add a nav sidebar to the page "Code"?

Would you consider dividing the page in three parts?:
1. Servers
2. Clients
3. Tools & Services (including "More Stuff")?
In that way the wording in the footer nav is (more or less) matched.

Or would you prefer a fourth part for Services (including "More Stuff")?
In that way I would add another link "Services" to the fo

[2017-10-26 14:30] ThisIsMissEm commented on #391
Update: This domain is expiring in  7 days, at which point I will no longer be able to transfer it.

/cc @nikgraf @leebyron @stubailo @gsans @lacker

[2017-11-01 14:03] ThisIsMissEm commented on #391
The domain has now been transferred to the Apollo team.

[2017-11-01 14:03] #391 closed

[2017-11-02 14:55] richard-hulm opened #410 "GraphQL.org is not HTTPS"
https://graphql.org gives a security error as it's serving a github certificate

[2017-11-02 15:05] j0k3r commented on #410
https://help.github.com/articles/securing-your-github-pages-site-with-https/

[2017-11-09 13:59] tspecht commented on #204
Any recommendations on this?

[2017-11-13 12:01] richard-hulm commented on #410
If Github pages doesn't support it natively, you could always use a free service like CloudFare, or another proxying service that provides you with SSL?

[2017-11-15 21:12] ydfzgyj commented on #173
@wincent Maybe you can first set up a Crowdin graphql project so that we can work on it? I'm not sure if we create a project by ourselves that would violate any restrictions of Facebook.

[2017-11-16 17:07] anthonator commented on #204
How would you determine that the GraphQL response had errors? Would something like a boolean `success` field need to be introduced?

[2017-11-20 20:07] kachkaev commented on #410
Also curious if accessing `graphql.org` via https could be possible. I started using [https everywhere](https://addons.mozilla.org/en-GB/firefox/addon/https-everywhere/) in Firefox recently and `graphql.org` became unavailable.

[2017-11-27 02:55] #241 closed

[2017-11-27 02:56] leebyron commented on #410
I'm going to investigate migrating from github pages to netlify which has much better SSL support.

[2017-11-27 06:57] joshprice commented on #410
@leebyron Having recently moved a bunch of sites to Netlify I can confirm that the setup experience is pretty amazingly smooth. A+ would SSL again.

[2017-12-05 16:34] graingert opened #430 "add mutation documentation to http://graphql.org/blog/rest-api-graphql-wrapper/"
eg how to make POST requests.

[2017-12-11 12:37] robsonpeixoto opened #434 "Pagination render problem"
The pagination page is not showing the **Plurals** code snippet.

http://graphql.org/learn/pagination/

![image](https://user-images.githubusercontent.com/124390/33831403-bd9764a0-de56-11e7-90de-072052cda672.png)

[2017-12-11 12:55] robsonpeixoto commented on #434
After I deleted the `local storage`, this pages are working well

[2017-12-11 12:55] #434 closed

[2017-12-12 23:54] fazouane-marouane commented on #410
Hi,

@leebyron did you find the time to test Netlify? It's seems to be pretty straightforward from their documentation as they support continuous deployment.

I took the liberty to [fork](https://github.com/fazouane-marouane/graphql.github.io) this very repository and deployed my fork on [Netlify](https://app.netlify.com/start) in a matter of seconds.
Here's a link to the deployed site: https://ad

[2017-12-19 04:09] ashinzekene opened #438 "BSD or MIT"
I visited the website and to my surprise I saw this

__Copyright ©2017 Facebook Inc. The contents of this page are licensed BSD-3-Clause.__

Graphql-js is MIT but when I read the docs I see as above. I almost submitted a PR but then I checked the graphql repo and found out some projects are licensed MIT while others are BSD.

Did you do it on purpose? I'm a little confused

[2018-01-16 21:32] pyojo opened #454 "Is this being maintained?"
Beyond being just an informative site, there are pull requests since November of last year. Can I help with this?

[2018-01-21 22:42] localhostpedro commented on #294
@stubailo is there any more working on Documentation ? Specially translate to ptbr ?

[2018-01-22 01:04] localhostpedro commented on #294
@stubailo is there any more working on Documentation ? Specially translate to ptbr ?

[2018-02-20 19:34] lazaruslarue commented on #454
👍

[2018-02-20 19:41] lazaruslarue opened #474 "mention `__resolveType` in Union Types section"
There's no mention in the documentation that Union Types require a `__resolveType` field in the Resolver for the Union.

a good example of helpful information can be found at [Apollo's Documentation](https://www.apollographql.com/docs/graphql-tools/resolvers.html#Unions-and-interfaces)

[2018-03-10 09:31] Case-E opened #482 "Hitting the ESC key on the keyboard adds "New Addon" units on the addons page"
When you click on New Addon on the trips admin, a blank addon unit is created.
![image](https://user-images.githubusercontent.com/25521878/37240598-a48c95ee-2473-11e8-84c0-f9c3e3cadacb.png)
However, when you hit the ESC key on the keyboard, this unit is repeated. (replicating the functionality of the new addon button).

Steps to replicate:
Create or edit a trip, go to the addons page, click on new

[2018-03-20 09:44] ahujamoh opened #485 "python hello world example out of date"
I have reported this issue to [graphene issues](https://github.com/graphql-python/graphene/issues/689) as well, where a contributor suggested me to create a PR here.

[2018-05-08 10:15] macsual commented on #410
[graphql.org](https://graphql.org/) is now accessible over HTTPS since the announcement that [custom domains on GitHub Pages have gained support for HTTPS](https://blog.github.com/2018-05-01-github-pages-custom-domains-https/). However, "HTTPS enforcement" should now be [explicitly enabled](https://help.github.com/articles/securing-your-github-pages-site-with-https/) so that all HTTP requests to t

[2018-05-24 13:49] abelhegedus opened #514 "Certificate expired at graphql.org"
The certificate for graphql.org has expired yesterday (May 23), you might want to look into that.

[2018-05-27 06:30] ZhangYiJiang opened #516 "Infinite redirection loop at graphql.org"
The page seems to be redirecting in an infinite loop between the HTTP and HTTPS version

[code]

[2018-05-27 15:32] leonardfactory commented on #516
Probably related to https://github.com/graphql/graphql.github.io/issues/514

[2018-06-26 02:29] SLVER5111q commented on #516
SLVER

[2018-06-26 02:48] SLVER5111q opened #536 "Xxx"

[2018-06-26 08:08] CorwinCZ commented on #516
Issue is still on, cannot acces the GprahQL documentation. Is there some work-around?

[2018-06-26 09:53] IvanGoncharov commented on #516
I created temporary mirror here: https://ivangoncharov.github.io/

[2018-06-26 10:07] IvanGoncharov commented on #516
I cloned master branch here: https://github.com/IvanGoncharov/IvanGoncharov.github.io
and everything is working after I removed CNAME.
I suspect that in order to fix #514 Facebook engineers added some kind of HTTPS proxy in front of GitHub pages.
But because requests are forwarded to `graphql.github.io` GH pages redirect them based on CNAME (which is `graphql.org`).
I suspect that CNAME was manual

[2018-06-26 13:16] IvanGoncharov commented on #516
@leebyron `graphql.org` is down can you please take a look. I suspect that you just need to remove https://github.com/graphql/graphql.github.io/blob/master/CNAME

[2018-06-26 14:52] bobvanluijt commented on #516
We have the same problem, can't access the website either...

[2018-06-26 16:58] leebyron commented on #516
I’m looking into this with Joel’s help.

In the meantime https://graphql.github.io/ is working correctly

[2018-06-26 17:34] JoelMarcey commented on #516
This should be fixed now. We had to invalidate a cache.

Basically on the last commit. A CNAME file got created when we didn’t need one. So that caused the loop. I believe Lee is looking into modifying the deploy script not to include CNAME on commits.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-29 05:20] leebyron commented on #516
Fixed in #540

[2018-06-29 05:20] #516 closed

[2018-06-29 05:20] leebyron commented on #514
Fixed!

[2018-06-29 05:20] #514 closed

[2018-06-29 05:21] leebyron commented on #438
Projects have been moving to MIT on a case by case basis. @JoelMarcey, perhaps you could help us investigate this?

[2018-06-29 05:22] leebyron commented on #454
Yes, there are maintainers at Facebook, me (not at Facebook anymore), Prisma, and Apollo. Feel free to ping any of the other maintainers to bring attention to merge PRs that are highest value

[2018-06-29 05:22] #454 closed

[2018-06-29 05:22] leebyron commented on #410
Fixed!

[2018-06-29 05:22] #410 closed

[2018-06-30 04:09] JoelMarcey commented on #438
Hmmm.. many times the documentation for our projects are licensed as Creative Commons - e.g., https://github.com/facebook/Docusaurus/blob/master/LICENSE-docs

And we don't have that clause listed on the site.

Would the docs being CC be ok?

[2018-06-30 18:28] Case-E commented on #482
So sorry about that @leebyron! I'm not at all sure how this ended up here. I'm presuming it might have  been due to me having multiple tabs open.

[2018-07-25 14:38] Mitranim commented on #283
Nevermind, the service went down.

[2018-07-25 14:38] #283 closed

[2018-08-03 21:55] mishasaggi opened #558 "Menu on the right could be made sticky"
For a better experience.

[2018-08-08 17:41] felippenardi commented on #204
2016, 2017 and now 2018. Have we solved that already?

[2018-08-15 21:04] guptad2 opened #563 "Human Type under interfaces"
Steps to reproduce:
Visit: http://graphql.github.io/learn/schema/

Under Interfaces where we have
[code]
 add
[code]

After that, change totalCredits to height and the error goes away.

<img width="1920" alt="screen shot 2018-08-15 at 1 54 05 pm 2" src="https://user-images.githubusercontent.com/24924707/44172921-5f0b1a80-a093-11e8-81d7-7d2a9af9da8c.png">

<img width="1920" alt="screen shot 2018-08

[2018-10-02 05:54] leebyron opened #584 "Add Subscriptions to Learn section"
See: https://github.com/facebook/graphql/issues/334

https://graphql.org/learn/ covers Queries and Mutations but not Subscriptions.

Great task for someone who wants to contribute to the GraphQL community!

[2018-10-31 04:43] ParthS007 commented on #584
Hi @leebyron
I want to work on this Issue. How should I proceed with this?
Thanks

[2018-11-16 13:25] say3no opened #617 "Fix typo: RandomDie -> RandomDice, getDie -> getDice"
I discover typo in https://graphql.github.io/graphql-js/object-types/ .

RandomDie -> RandomDice
getDie -> getDice

[2018-11-16 15:28] #617 closed, assigned to nobody

[2019-01-22 09:26] fsiler opened #647 "printable docs"
Hello,
  I'd like to print myself a handbook, but the layout of the docs is making this somewhat difficult.  I forked and managed to get rid of the sidebar, but each section tag is limited to one page- so even if try to make a PDF of a really long page, I get exactly three pages: one for the header, one for the truncated body, and one for the footer.  Can someone please fix this?

Super feature re

[2019-02-12 12:13] ramprasad2018 opened #658 "GraphQL Union and Interface Example - help needed"
I am looking for an example on GraphQL Union and Interface. Appreciate if any one can help by providing an example or link that shows how to define a query and resolvers for Union and Interface.  Thanks and regards,  Ram

[2019-02-20 18:45] vnenkpet commented on #584
I'm actually surprised this still isn't covered! Seems like a huge oversight, they are actually mentioned in one place but never explained?

@ParthS007 I guess you can simply follow the contribution guide in the README and create PR for it if you feel like you can take care of this...?

[2019-03-03 01:06] danielrearden opened #669 "Rework examples to avoid using buildSchema"
All of the examples in the GraphQL.js tutorial demonstrate creating a schema using `buildSchema`. Create a schema using SDL is simpler and less intimidating for beginners compared to initializing a `GraphQLSchema` instance directly. However, there's also a couple of undesirable consequences to this approach:

- Using `buildSchema` to create a schema is very limiting, in that it prohibits declaring

[2019-03-03 19:12] IvanGoncharov commented on #669
@danielrearden I think it's a general problem with `graphql-js` docs.
I think all docs related to `graphql-js` shouldn't be part of this site and should live inside `docs` folder of `graphql-js` repo.
Since I don't have commit rights in this repo I can't do this migration or at least update docs in this repo.

AFAIK GraphQL Foundation took ownership of this repo and I tried to contact them but got

[2019-03-04 13:15] danielrearden commented on #669
Ok, great. I guess we should table this until the docs are migrated then.

[2019-03-27 05:11] tanaypratap commented on #584
@leebyron I can take this up. If no one is taking it. Have worked on subscription a lot recently and would love to contribute.

[2019-04-04 01:59] anhldbk opened #685 "API valueFromAST is missing"
Hi there,

This section about GraphQL utitilities does NOT contain any information about `valueFromAST`: https://graphql.github.io/graphql-js/utilities/

Should I make a PR against this missing?

[2019-04-18 17:37] theNaut1lus opened #690 "404 error for docsearch in browser console."
url: https://graphql.org
On opening the website on my browser (Safari 12.1), I found that the website gave out a console error for the following resource.
`https://cdn.jsdelivr.net/docsearch.js/1/dist/cdn/docsearch.min.js.map`
<img width="1278" alt="Screenshot 2019-04-18 at 11 06 37 PM" src="https://user-images.githubusercontent.com/35738138/56380013-ab17eb80-622e-11e9-851d-b5785da162ae.png">

[2019-04-28 10:00] nitishk72 opened #692 "Flutter GraphQL is not mentioned at website"
Flutter GraphQL is not mentioned at the GraphQL website.

[2019-05-03 13:26] zzz6519003 commented on #173
let's set a deadline :beer:

[2019-05-19 03:21] dandv commented on #669
Any progress on this migration? I'm super confused by the [ton of SO Q&Aa](https://stackoverflow.com/search?q=graphql+extend) starting there's no type extension in GraphQL, at direct odds [with the spec](https://graphql.github.io/graphql-spec/June2018/#sec-Object-Extensions). At the same time, https://graphql.org/learn/schema/ mentions nothing about `extend`. What's going on? Is the https://graphq

[2019-05-19 03:31] danielrearden commented on #669
@dandv I believe `buildSchema`/`buildASTSchema` currently does not support system type extensions, as per [this open issue](https://github.com/graphql/graphql-js/issues/922). If you need the functionality now, use `graphql-tools`.

[2019-05-22 15:24] oreno4649 commented on #438
[The LICENSE file](https://github.com/graphql/graphql.github.io/blob/source/LICENSE) says that it is not BSD or MIT.
How is the actual document licensed?

[2019-05-22 17:08] JoelMarcey commented on #438
@oreno4649 - Since this issue was originally raised, GraphQL has moved to the Linux foundation. I believe this should be licensed to MIT, and we just missed it, but I will let @leebyron or @caniszczyk make that call.

[2019-05-22 17:15] caniszczyk commented on #438
MIT is fine

[2019-05-24 05:45] oreno4649 commented on #438
@JoelMarcey @caniszczyk Thank you for your reaction.

I make the PR. Please check the license notation.

[2019-05-26 00:13] aranhaagency commented on #690
This docsearch update version 2.6.3 not version 1. Check this (https://www.jsdelivr.com/package/npm/docsearch.js)[docsearch.js 2.6.3]

[2019-05-28 16:52] chris-yt commented on #514
It expired again...

[2019-05-28 16:53] chris-yt opened #709 "Certificate expired at graphql.org"
Just the same thing happend one year ago ;D #514

[2019-05-28 16:54] caniszczyk commented on #709
We are working to resolve it

[2019-05-29 23:44] caniszczyk commented on #709
fixed now, thanks

[2019-05-29 23:44] #709 closed

[2019-05-30 07:47] legopin opened #710 "graphql.org NET::ERR_CERT_COMMON_NAME_INVALID"
After #709 was resolved, chrome browser (MacOS Version 74.0.3729.169 (Official Build) (64-bit))
shows certificate invalid warning about "NET::ERR_CERT_COMMON_NAME_INVALID"

<img width="1164" alt="Screen Shot 2019-05-30 at 3 44 05 PM" src="https://user-images.githubusercontent.com/15863509/58617221-2a9adf00-82f2-11e9-973b-dda6e42ebe9d.png">
<img width="1164" alt="Screen Shot 2019-05-30 at 3 44 48 P

[2019-05-30 16:13] lucperkins commented on #710
Sadly, these hiccups are pretty much inevitable when you switch DNS *and* migrate to a Let's Encrypt cert at the same time. This should be all fixed now, and permanently so. I'm closing this, but please re-open if issues persist.

[2019-05-30 16:13] #710 closed

[2019-06-21 22:42] LaurenceM10 opened #723 "Add graphql server example using graphql-yoga to the documentation"
https://github.com/prisma/graphql-yoga

[2019-06-26 02:19] hacker-DOM opened #728 "Is the source code for the example used in /learn available?"
I feel like the `/learn` section is a bit all over the place. It starts with Queries and Mutations, but there are more links from this chapter to Schemas and Types than vice versa. Maybe swap the order of the two chapters? In any case, I'd love a canonical source code for the tutorial - is that available? Cheers

[2019-07-11 06:25] rijulg opened #733 "Schema Diffing for Authorization"
After briefly discussing this approach in GraphQL-spec (https://github.com/graphql/graphql-spec/issues/592) I realized that this should instead be added as best-practice and not necessarily be part of the spec.  Since the initial RFC, I have also added this information in "graphql-rules", available here: (https://graphql-rules.com/rules/authorization-schema-diffing) {https://github.com/graphql-rul

[2019-08-15 19:58] JVimes opened #754 "Docs should explain "data" object in results"
Maybe I just missed it, but the docs mysteriously show a "data" object that wasn't queried for, and I can't find the explanation.

![image](https://user-images.githubusercontent.com/6148201/63122558-4a8e8600-bf64-11e9-816c-94b5dbb8579d.png)

Newbies like me could use:
* An explanation early in the docs.
* Is this a convention or requirement?
* It might be worth also mentioning the "errors" object

[2019-09-14 12:52] dteiml commented on #728
Went here to look if anyone has asked this q and turns out I have a few weeks back. It's still relevant: Where can I find the source code for the tutorial? Cheers

[2019-09-16 19:03] orta opened #768 "Code page re-design idea"
I heard on the Microsoft grapevine that there was interest in a general GraphQL site redesign, and maybe the code page could be a good place to start.

So... I took a quick stab at the page, trying to chunk it into a horizontal set of navigations which are mostly icon based, then tried to provide a more structured way to describe each dependency. Left is what it is, right is how to use it. Each "h

[2019-10-02 07:50] rajkharvar opened #776 "Update react-version"
All the routes from https://graphql.org/learn/ are having outdated version of react. Please update it to the latest version.

[2019-10-03 13:26] veeramarni opened #778 "extend input type with alias name"
I'm would like to request the following idea to be added to a spec.

[code]

So that I can use one of the input `BaseInput` or `ReviewInput` based on the need. And not extending `BaseInput` directly.

[2019-10-03 14:04] georgioupanayiotis commented on #776
Hi @rajkharvar ,
Do you mean react version on package.json ?

[2019-10-03 18:32] rajkharvar commented on #776
yes. react-dev-tools recommend updating to the latest version of react to avoid a nightmare.

[2019-10-18 20:46] laothuong opened #786 "8w"

[2019-10-18 20:47] laothuong commented on #786
H
[graphql-spec-June2018.zip](https://github.com/graphql/graphql.github.io/files/3745604/graphql-spec-June2018.zip)

[2019-10-18 20:47] laothuong commented on #786
Rhj

[2019-10-18 20:47] laothuong commented on #786
H

[2019-10-18 21:07] laothuong commented on #786
J

[2019-10-18 21:07] #786 closed

[2019-10-18 21:07] laothuong commented on #786
Yuioo

[2019-10-20 15:30] orta commented on #768
It's been a month, maybe the right answer is for me to bring this up at the GraphQL Working Group and get something started a bit like what we did with GraphiQL?

[2019-10-21 16:32] benlesh opened #790 "High CPU usage on homepage"
I left https://graphql.org/ open on another screen and noticed my MBP's fan spin up. I was curious to see what what eating my CPU, and when I looked it was Google Chrome Renderer. Upon checking the Chrome Task Manager, I found that the site was using 30-40% CPU, which seems excessive. When I dug in, it looks like there are just some JS animations that are eating most of the CPU. Looking at the ani

[2019-11-07 00:42] j0nd0n7 commented on #204
2016, 2017, 2019 and near 2020 and counting...

Today I've been reading how to improve the error handling of an existing API especially for user/expected errors.

First, it was important to me the opinion of @leebyron about the default "error system" that it is intended for unexpected errors. [Check it here](https://github.com/graphql/graphql-js/issues/560#issuecomment-259508214)

The most recurre

[2019-12-05 17:54] praveenweb commented on #692
This seems to be merged via https://github.com/graphql/graphql.github.io/pull/694

@orta - We can close this?

[2019-12-05 19:13] #692 closed

[2019-12-23 02:42] codlin opened #811 "The teaching examples on the website are not very friendly."
Using Star Wars as an example is a bit professional. Although many people in English-speaking countries have seen it, many people in non-English-speaking countries are not necessarily familiar. As an example, the background knowledge is a bit professional, and it is recommended to use more general examples.

[2019-12-25 08:30] #811 closed

[2020-01-31 15:43] orta opened #823 "Bring License in line with graphql-spec"
/cc @leebyron  / @jchris who should probably decide

Based on this comment by @IvanGoncharov  https://github.com/graphql/graphql-js/pull/1960#issuecomment-500565005

It looks like this repo should go MIT for consistency, if so we can merge https://github.com/graphql/graphql.github.io/pull/703 now - if no responses I'll give it a merge in 3 months (chance for anyone to give feedback), as I think it

[2020-02-05 21:43] ahmdtalat opened #826 "Dark mode"
Hello
I think it would be nice to add a dark mode to the website.

[2020-02-16 19:59] #826 closed

[2020-02-21 05:38] snitin315 commented on #776
@rajkharvar can I work on this issue?

[2020-02-21 13:45] Arraxx opened #831 "search bar error"
### the search bar is getting out from the navbar when selected

### Screenshot:
![Screenshot from 2020-02-21 19-10-54](https://user-images.githubusercontent.com/54955755/75039266-5001f580-54de-11ea-952d-5e7a4c0cafaf.png)

### Additional context
if really a bug,i would like to take this up.

[2020-02-21 13:46] coderbabu10 commented on #831
@orta

[2020-02-21 16:09] orta commented on #831
Sure, it looks like a real bug - you're welcome to submit a fix

[2020-02-21 17:01] Amankumar29 opened #832 "navbar error"
### The elements in navbar is getting out and overlapping other components while resizing

### Screenshot:
![Screenshot from 2020-02-21 22-28-28](https://user-images.githubusercontent.com/54955755/75054780-bd6f4f80-54f9-11ea-8d38-9c603af063d6.png)

### Additional context
I would like to take this issue

[2020-02-21 17:29] coderbabu10 commented on #832
@orta

[2020-02-22 06:10] godcrampy opened #834 "Feature: issue and pull request templates"
Currently there are no templates for creating PRs and issues.
From github [docs](https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates):

This will help in better maintenance and communication especially since there will be a lot of incoming PRs as graphql is on the GSoC list.

[2020-02-22 09:27] rabeehrz commented on #768
Hey @orta ,

I would like to contribute to GraphQL website and make it better. This redesign looks really cool. Is it something you have plans to implement? Has your team decided on this?

Would love to get details. Thanks

[2020-02-22 14:15] elit-altum commented on #768
Hey @orta
This looks great. I'd also like to work on it if it is approved for implementation. Could you please keep me in the loop? Thank you!

[2020-02-22 16:42] elit-altum opened #835 "Fix CodeMirror ScrollBars"
__Issue__
An attempt has been made in the codebase to hide the vertical and horizontal scrollbars in CodeMirror for the GraphQL code examples and returned queries. This has not been successful and should be fixed.

__Screenshots__

![Issue-Scrollbars](https://user-images.githubusercontent.com/41413622/75095933-f70a8e00-55bf-11ea-8d1e-38ae5bb384ec.gif)

__How to recreate the issue__
- Go to any pag

[2020-02-22 17:00] #835 closed

[2020-02-22 19:40] RoLoDeXx commented on #832
https://github.com/graphql/graphql.github.io/pull/837
I've made a PR for this.

[2020-02-23 08:44] elit-altum opened #838 "Too many iFrameResizer console logs"
__Issue__
The iFrameResizer at https://graphql.org/users/ logs every communication between the files in use which results in >120 logs on the console. This can potentially effect the website response and load time on many slower browsers.
They might be useful in development environment but should be hidden for production.

__ScreenShots__
![IFrameError](https://user-images.githubusercontent.com/41

[2020-02-23 08:47] elit-altum commented on #790
Hey @benlesh !
Thank you for bringing this up. Could you elaborate upon which particular animations you found were causing this issue, so I can work around it ?
Any help from your side would be really useful. Thank You!

[2020-02-23 09:36] ani4aniket commented on #831
@orta May I take this issue, I guess @coderbabu10 is not working on it yet.

[2020-03-06 21:59] Siddhant043 commented on #768
Hi @orta
The new design is amazing 🤩 and I would love to contribute to GraphQL website.
Thank you 😊

[2020-03-10 09:14] loicdescotte opened #852 "Replace Sangria by Caliban (Scala graphql implementation)"
Sangria is no longer developed, and Caliban is on the other hand very active  : https://github.com/ghostdogpr/caliban

[2020-03-14 20:53] mxwlf opened #854 "Remove "graphql-net" from the options for .net libraries"
Please remove [graphql-net](https://github.com/chkimes/graphql-net) from the option list for .Net libraries. : https://graphql.github.io/code/#c-net ---> second option

Reasons:

* This library doesn't seem in active development for a long time. PR's are not being reviewed nor Issues addressed.
* It implements an older version of the GraphQL spec.
* It hasn't been migrated to .Net core and it requ

[2020-04-17 02:33] amirulazim048 commented on #584
thank

[2020-04-23 00:47] Urigo commented on #768
Love this suggestion and we would love to help.

One big question I had was - who decides on which libraries to merge in and how do we order those tools?

Initial suggestion would be - Creating a standard using something like - (Github stars, Commit volume, Latest commit which is not renovate/bot) and use this standard to both decide if to include a library or not (or even remove) and to order the

[2020-06-03 12:57] Urigo opened #875 "Proposal - Migrating the website to Gatsby/Next.js"
On the recent week I've cloned the website and ran it locally.

I think it can be cool to migrate the custom scripts we have today into a ready framework like Gatsby/Next.js.

Might also make it easier for the community to contribute to the graphql.org website

@IvanGoncharov @brianwarner @Ekwuno @leebyron @orta

[2020-06-03 13:56] brianwarner commented on #875
Big +1 from me on this! Adding context from a chat earlier today between @urigo, @Ekwuno, @IvanGoncharov, and myself, the initial idea is to temporarily freeze content, then migrate the platform only, then unfreeze content (hopefully in time for [Google Season of Docs](https://github.com/graphql/foundation/tree/master/mentorship/2020/gsod) to kick off).

Big thank you to @Urigo for volunteering to

[2020-06-05 08:41] IvanGoncharov commented on #875
Thanks @Urigo for volunteering to manage this issue 👍
@brianwarner That's a great summary of our call, I agree with every point!

[2020-07-01 23:11] saihaj commented on #875
I would like to help in migration process @brianwarner

[2020-07-04 03:12] skedwards88 commented on #728
I thought the interactive code blocks were pretty nice, so I poked around to learn some more. The `MiniGraphiQL` component [here](https://github.com/graphql/graphql.github.io/blob/739a1c913fa4a88ac7c64c93ce68fc64ec0cbd96/site/_core/MiniGraphiQL.js) may be what you are looking for @hacker-DOM .

[2020-07-04 21:22] kelvinabella commented on #875
Hi, I would like to contribute @brianwarner.

[2020-07-06 00:15] ericz1803 commented on #728
I was looking for the same thing and I found the file containing the schema and resolvers [here](https://github.com/graphql/graphql.github.io/blob/739a1c913fa4a88ac7c64c93ce68fc64ec0cbd96/site/_core/swapiSchema.js).

[2020-07-06 21:34] Urigo commented on #875
@saihaj @kelvinabella can one of you start a fork?

It would be awesome to great your help.
I believe we should start with the simplest, clearest task - an exact clone of the current website, just with Gatsby instead of custom scripts.
All the rest of the improvements could be done later on and would be easier once we've migrated to Gatsby

[2020-07-07 02:15] saihaj commented on #875
I have started a [fork](https://github.com/saihaj/graphql.github.io) if anyone is interested we can work together, contact me on GraphQL slack, email me or open up an issue in the fork. It can be previewed here -> https://graphql-docs-gatsby.vercel.app/

[2020-07-07 02:19] leebyron commented on #875
Does it make sense to do this work on a branch in this repo instead of a
fork?

On Mon, Jul 6, 2020 at 7:15 PM ਸਹਜਪ੍ਰੀਤ ਸਿੰਘ <notifications@github.com>
wrote:

--
Lee Byron

[2020-07-07 02:22] saihaj commented on #875
fork?

I can send in PR of what I have right now and then others can directly contribute here

[2020-07-07 23:57] skedwards88 commented on #41
How up to date is this, or is there somewhere else I should look for documentation needs? I'm interested in contributing to the GraphQL documentation.

[2020-07-15 22:42] jbrown123 opened #895 "Sample code is incorrect (generates errors)"
The sample code on several pages is incorrect (generates runtime errors).
[code]

The following pages are affected:
* Passing Arguments
* Object Types
* Mutations and input types

You left out the brackets around the graphqlHTTP variable.

You have
[code]

Should be
[code]

If I find more instances of this same mistake, I'll update this issue.

[2020-07-23 10:47] anands9288907423 opened #897 "how do we get all previous data from the database when new subscription : not about this repo"
First of all, I am sorry to post an issue that not about this repo.
Hai, I am new to graphql and i have a doubt,
when we subscribe into a graghql API endpoint we get realtime updates.
how do we get all previous data from the database when new subscription?
like firebase firestore.
When a new user connects it sends old data first and then sends realtime updates
how do I do this in graphql API?

[2020-07-25 03:02] #897 closed

[2020-08-10 06:13] gabizou commented on #852
Considering https://sangria-graphql.org/ has apparently lapsed in regards to its domain registration, I'd be looking at the docs being updated maybe to even mention that sangria is legacy and no longer actively maintained?

[2020-08-14 03:17] Zhouchuanwen opened #906 "Confused about reading Queries and Mutations - Using variables inside fragments section"
Newbee Confused  about https://graphql.org/learn/queries/#fields

Why totalCount is 4, but edges only 3 returned.

![image](https://user-images.githubusercontent.com/7982753/90209880-0fe15700-de1f-11ea-88b1-40f66454f345.png)

I refer the other demo, Luke Skywalker's friendsConnection is really 4,  this page missed the node "R2-D2 " ?

[2020-08-15 13:19] iravitejakumar commented on #875
I would like to contribute @brianwarner .

[2020-08-15 14:07] saihaj commented on #875
@iravitejakumar I have most of it done but need help on few issues. It would be great if you can help knockout some issues in #896 so that we can get it merged

[2020-08-15 16:01] iravitejakumar commented on #875
Wow great!! Sure I will look into it @saihaj .

[2020-08-24 17:42] sarveshseri commented on #852
After the underfortunate passing of Sangria's creator last year. Other contributors have resolved the ownership issues of various resources and they are still trying to resolve the domain ownership issue.

In the mean time the Sangria website is available at [https://sangria.netlify.app/](https://sangria.netlify.app/)

[2020-08-28 15:02] IvanGoncharov commented on #895
Fixed in #899

[2020-08-28 15:02] #895 closed

[2020-08-31 21:19] carolstran commented on #41
@skedwards88 I believe that most (if not all) of the unchecked Best Practices articles are still needed, especially since they were mentioned in the [GSoD proposals](https://github.com/graphql/foundation/tree/master/mentorship/2020/gsod#1-extend-best-practices-articles-mediumhard). If you'd be up for writing one, that could be a great way to contribute!

@leebyron Would you be alright with me open

[2020-08-31 21:40] carolstran commented on #430
👋🏼 @graingert Thanks for opening an issue in the GraphQL docs! I know that it's been nearly 3 years, but I took a lot at the resource you mentioned. I don't think it makes sense to update a blog post, but rather make sure that the information you're looking for is available in the official docs.

We have this [section on POST requests](https://graphql.org/learn/serving-over-http/#post-request), bu

[2020-08-31 21:59] carolstran commented on #558
👋🏼 @mishasaggi, thanks so much for opening an issue and a PR on the GraphQL docs! I swear it's appreciated even if it's been two years since you opened it 😅

Something I wonder about this proposal (and after testing your PR) is if it would really provide a better experience? I agree that not having the sidebar menu available once you scroll past it isn't great, but I wonder if having to scroll all

[2020-08-31 22:11] carolstran commented on #563
👋🏼 @guptad2, thanks for opening an issue on the GraphQL docs! Since this issue was opened a while ago (😬😅), it seems it has resolved itself. The code sample you mentioned now only has the `on Droid` and no `on Human`. Now the only remaining error is intentional.

I'll close this for now - but if I misunderstood, please let me know!

[2020-08-31 22:11] #563 closed

[2020-08-31 22:38] carolstran commented on #690
@co16353sidak, thanks for opening an issue on the GraphQL docs! I know it's been a while, but I'm also seeing the 404 error (on Firefox it's a warning instead of an error, but same issue).

Would you be open to help fix the issue? No pressure, I can also put a `Help wanted` label on it. As far as I can tell, it doesn't affect the functionality so it wouldn't be a high priority bug to fix - but it'

[2020-08-31 22:43] carolstran commented on #685
👋🏼 @anhldbk, thanks for opening an issue on the GraphQL documentation! You're right, it seems that we have docs on [astFromValue](https://graphql.github.io/graphql-js/utilities/#astfromvalue) but not `valueFromAST`. I've never used it personally, but I could imagine it being a good addition.

@IvanGoncharov, what do you think?

[2020-08-31 22:46] carolstran commented on #778
👋🏼 @veeramarni, thanks for opening an issue on the GraphQL documentation! However, after reading, it seems like this is an issue that would be better for the [graphql-spec](https://github.com/graphql/graphql-spec/issues) repo.

I'll close this for now, but if I've misunderstood - please let me know!

[2020-08-31 22:46] #778 closed

[2020-08-31 22:49] carolstran commented on #728
👋🏼 @hacker-DOM, thanks for opening an issue on the GraphQL documentation! From what I can tell, the links that the others provided address what you're asking about - so I'm going to close this issue. If I misunderstood or something is still unclear, please let me know.

[2020-08-31 22:49] #728 closed

[2020-08-31 22:58] carolstran commented on #754
👋🏼 @JVimes, thanks for opening an issue on the GraphQL documentation! I totally agree with you, this should be more clear early-on in the documentation and learning journey through the docs.

I'd lean towards adding it on the [Queries and Mutations](https://graphql.org/learn/queries/), right after the introduction and where this `data` object is first introduced. Would you agree?

I also agree wit

[2020-08-31 23:01] carolstran commented on #834
👋🏼 @godcrampy, thanks for opening this issue! I would agree, typically I find the experience of contributing to repos with templates for issues and pull requests is a better experience.

Ping @IvanGoncharov @orta - Is there a process for implementing something like this? Or could someone propose a change via PR? It'd be great to sort this out before Hacktoberfest 🎃

[2020-08-31 23:02] carolstran commented on #823
Left a review on #703 and referenced this issue - it'd be great to get that merged if possible 🚀

[2020-08-31 23:06] carolstran commented on #838
👋🏼 @elit-altum, thanks for opening this issue! I can't seem to reproduce these logs... is it still happening for you?

[2020-08-31 23:12] skedwards88 commented on #41
Good to know! I have some commitments on my plate now, but I will remember this for when my free time opens up again.

[2020-08-31 23:15] carolstran commented on #584
👋🏼 👋🏼 @ParthS007 @vnenkpet @tanaypratap Would any of you still be open to taking this on? It's still relevant and I believe it'd be an important addition to the docs. I'd be happy to help structure the page, look over the copy, etc. 😊  Or you can open a PR with your proposal, reference this issue and we can take it from there!

[2020-08-31 23:20] carolstran commented on #768
@Urigo, that's a great question and something that I'm really wondering about too - especially since a majority of the open PRs and issues are related to contributions to the Code and Community pages. Any insights on this @orta @IvanGoncharov?

We can also move this discussion out to a separate issue as to not clog up the design discussion. Which PS. I really like this design and I'd support it mo

[2020-08-31 23:28] tanaypratap commented on #584
@carolstran the GraphQL working committee has been talking about the doc site update for a long time now.
I was wondering if there's progress in that field. We can club this and other doc related work along with it.

[2020-08-31 23:50] carolstran commented on #584
@tanaypratap Ah cool, I had no idea! I'm just trying to triage some issues while I work on research for the FAQ page 😄 Is there a good way to see/track what the working committee is discussing? Or is that secret? I'm still trying to figure out the general org structure/setup 🤪

[2020-08-31 23:53] tanaypratap commented on #584
@carolstran you can check it out here
https://github.com/graphql/graphql-wg

I haven't been able to attend the meetings for quite sometime. Last I joined, everyone, including Lee, agreed that we need an overhaul of the website.

If you run a Lighthouse test for the current website you will see the color contrast and few other things are broken too, bringing down the a11y score overall.

[2020-09-01 01:50] JVimes commented on #754
Thank you @carolstran! Yes, I think it'll work well to define each (`data` and `errors`) with its first appearance in the docs. Consider briefly mentioning `errors` when you introduce `data`. This will satisfy curiosity as to why the data is not at the root level (to leave a place for errors).

[2020-09-02 01:26] saihaj commented on #790
If we are going to keep the animations same in new iterations (when Gatsby site is in prod) I suggest that we solve this since it fixes one of the issues mentioned in #896 @IvanGoncharov @carolstran

[2020-09-02 11:10] #430 closed

[2020-09-02 11:13] IvanGoncharov commented on #685
@anhldbk @carolstran `graphql-js` docs are a mess at the moment. It's my next goal to address it after TS conversion, tracked in https://github.com/graphql/graphql-js/issues/1368

[2020-09-02 11:13] #685 closed

[2020-09-02 11:18] IvanGoncharov commented on #834
@carolstran Definitely something we need to address before Hacktoberfest.
We can start from something super simple, can you please look at what other similar repositories (website for popular OSS technologies) have?

[2020-09-02 11:38] carolstran commented on #834
@IvanGoncharov Yup, totally agree on getting something simple up and then figuring out our needs as more PRs/issues come in. I'll take a look at other projects and open a PR by the end of the week 💫

[2020-09-02 15:31] IvanGoncharov commented on #823
@carolstran @orta I started the relicensing process with GraphQL Foundation.
Can take some time since we need conformation from FB as previous copyright owners, will keep you updated.

[2020-09-03 22:21] carolstran commented on #790
Yup totally agree @saihaj and thank you @benlesh for flagging this!

[2020-09-03 22:37] carolstran commented on #647
Thank you for the issue @fsiler!

Unfortunately, this issue isn't something that we feel will yield reward commensurate to the effort required to restructure the docs for this use case, so I’m going to label this a wontfix and close it out. However, a single-page version of the docs is something that we might consider merging should someone else be willing and interested in opening a PR to add.

[2020-09-03 22:37] #647 closed

[2020-09-03 22:49] carolstran commented on #832
Closing as this was resolved in #839 🚀

[2020-09-03 22:49] #832 closed

[2020-09-03 23:51] carolstran opened #911 "Code Page Contribution Guidelines"
With the [Code](https://graphql.org/code/) page, @Urigo brought it up in #768:

AFAIK we’re putting non-essential editorial changes on hold until the Gatsby migration (#875) is complete, but it’d be great to decide on a process or guidelines for this. Not sure if there is a working group or another way to move it forward.

cc: @IvanGoncharov

[2020-09-03 23:59] carolstran opened #912 "Restructuring the Community Page"
The [Community page](https://graphql.org/community/) has similar issues to the Code page (#911) - there are no guidelines for what should be featured there.

However, with the Community page, I believe there are other considerations. This page was created when GraphQL was newly announced and the exposure was limited. Now there are more books, videos, learning resources, etc. than can be represente

[2020-09-04 00:02] carolstran commented on #912
Related: We should reconsider the [Upcoming Events](https://graphql.org/community/upcoming-events/) page unless someone is willing to actively maintain it. Instead, I would propose adding the Meetups and a list of conferences to this new Community page.

[2020-09-04 00:38] carolstran commented on #854
👋🏼 Thanks for the issue! We're currently re-evaluating how we handle contributions to this Code page and pausing any changes until after those decisions are made. So I'm going to mark this as `On hold` and if you have any thoughts on this topic, it'd be great if you could voice them in #911

[2020-09-04 00:38] carolstran commented on #852
👋🏼 Thanks for the issue! We're currently re-evaluating how we handle contributions to this Code page and pausing any changes until after those decisions are made. So I'm going to mark this as `On hold` and if you have any thoughts on this topic, it'd be great if you could voice them in #911

[2020-09-04 00:40] carolstran commented on #723
👋🏼 @LaurenceM10, just to clarify - do you mean adding graphql-yoga to the community resources list or writing specific documentation/code samples that use graphql-yoga?

[2020-09-04 05:47] dosco commented on #911
I don't quite agree on pausing this whole list indefinitely to come up with some arbitrary rules.  Sometimes good enough is better than perfect. The value of this list is its breadth and transparency. Instead of gatekeeping why not allow the community to vote something out if it does not fit. If you say decide on going with stars then you could inadvertently  prevent small upcoming projects from g

[2020-09-04 06:41] burner commented on #911
I agree with @dosco whats the point of having a open standard and a community if it is not a community. Feels a bit like https://youtu.be/RGxbaxviRVw?t=25

[2020-09-04 10:03] carolstran commented on #911
Whoops that was a miscommunication on my end - merging anything to the list is only paused until after the Gatsby migration (afaik lol I'm still new here). But this topic of what gets merged and how the list is sorted has come up in several places, which is why I opened this issue!

I completely agree with you @dosco - and I see having a guideline or standard defined as a way to avoid gatekeeping.

[2020-09-04 10:37] mike183 commented on #911
This sounds reasonable, it's also worth considering that some items on the page (especially in the "Services" section) don't actually have public repositories, so it wouldn't always be possible to apply standards based on Github stars, commit volume etc.

[2020-09-04 12:12] carolstran commented on #776
👋🏼 Thanks for this issue! I commented on the associated PR, but I'll drop a similar message here to keep the discussion in sync.

While I agree that this would be necessary for the existing site, the React version will be updated with the migration to Gatsby (#896) which is already on the roadmap. So I'm going to close this for now, but if you have any concerns or think I'm mistaken - let me know!

[2020-09-04 12:12] #776 closed

[2020-09-04 12:17] burner commented on #911
I agree with listing things alphabetically. Not so sure about the stars.

Coming from purely selfish position, I'm the creator and maintainer of the @dlang implementation of graphql server and compared to JS D has like two users, I think we shouldn't rank by stars.

[2020-09-04 14:06] jeggy commented on #911
One site that does something like this, which I really like is this webpage: https://kotlin.link/ they have put everything into categories(_which could be `Server Libraries`, `GraphQL Clients`, `Tools`, `Services` and `More Stuff`  in this case_) and in each group they sort by stars. And on the top they have versions which would be programming languages here.

This list is still controlled by the

[2020-09-05 02:36] bengraygh commented on #852
Sangria is actively developed, and is used by Twitter. There was a commit by @yanns a few days prior to this issue being opened, and 63 commits subsequently. Twitter have announced their intention to continue to support [it](https://twitter.com/TwitterOSS/status/1171190354642497537?s=20).

It is unfortunate that the domain lapsed for the original documentation site, but that doesn't really warrant

[2020-09-06 09:06] loicdescotte commented on #852
@bengraygh ok, closing it

[2020-09-06 09:06] #852 closed

[2020-09-07 09:33] elit-altum commented on #838
Nope I can't see them anymore. Don't know what fixed it.

Closing this issue.
Thank You!

[2020-09-07 09:33] #838 closed

[2020-09-07 16:11] saihaj commented on #911
I feel like we should combine a Reddit or StackOverflow style where community upvotes/downvotes packages with a combination of defined rules as @Urigo mentions in https://github.com/graphql/graphql.github.io/issues/768#issuecomment-618112741

[2020-09-13 11:52] git-anurag-hub commented on #831
AnyOne, Working on this issue?

[2020-09-20 13:50] IvanGoncharov commented on #790
@saihaj @carolstran I personally experience this bug from time to time and it drives me crazy so definitely something we should address.

If someone wants to work on this please claim this issue in comments.

[2020-09-20 13:55] IvanGoncharov commented on #768
@carolstran I propose to return to this issue after Gatsby's conversion.

[2020-09-26 23:08] JanetLaysEggs commented on #690
@carolstran Can I please have this issue assigned to me?

[2020-09-26 23:38] JanetLaysEggs commented on #790
Well one solution (may seem a bit naff) is to cheat and use event driven images, gifs, and videos for the animations (as lovely as the JS animations are) instead as they should be less CPU intensive? Websites like apple.com and tunnelbear.com do it all the time. A really good use case of this would be the text going forwards and back between the colourful servers and the phone on the main page as

[2020-09-29 05:48] saswatamcode commented on #723
@carolstran maybe adding an example to the code samples and as well as mentioning it in the community resource list would be the best way to go about this?

[2020-09-29 06:04] saswatamcode commented on #906
@Zhouchuanwen Over here we are setting a limit to the number of `friendsConnection` nodes that we want to get back from our query using the `$first` variable. Here we set first to 3 so we get back details of the first 3 nodes. But `totalCount` gives you the total number of nodes which is 4 here. If you change `first` to 4(you can since the examples are interactive) you should see 4 nodes. Hope thi

[2020-10-09 04:36] #906 closed

[2020-10-09 04:36] Zhouchuanwen commented on #906
thx

[2020-10-12 17:19] 8bitreid commented on #911
I think code owners should be the ones to decide what goes, but I think the community should add what's out there.

[2020-10-15 10:45] carolstran opened #932 "Prefetch Google fonts in Gatsby site"
There was a discussion in #924 about whether we should import or prefetch the Google fonts used for the website. This PR was to the new Gatsby version of graphql.org.

A few options were proposed/explored:
* Importing the fonts via CSS (which was proposed in the original PR)
* Prefetching with [`gatsby-plugin-prefetch-google-fonts`](https://www.gatsbyjs.com/plugins/gatsby-plugin-prefetch-google-fo

[2020-10-15 16:23] carolstran commented on #690
👋🏼  @JanetLaysEggs! Sorry I'm just seeing this notification. Do you still want to be assigned/work on this?

[2020-10-21 11:04] Urigo commented on #911
As we are actively working on a possible solution [here](https://github.com/graphql/graphql.github.io/pull/936#issuecomment-713489612), maybe it's a good idea to move some of the discussion there and get feedback from everyone here on that PR?

[2020-10-28 04:09] saihaj commented on #932
As discussed in this issue https://github.com/gatsbyjs/gatsby/issues/10475#issuecomment-447460214 we should host the font in `static` dir and then to preload them we can use [`gatsby-plugin-preload-fonts`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-preload-fonts#readme)

[2020-11-02 18:40] rivantsov opened #941 "Please add a link to a new GraphQL server implementation for .NET"
NGraphQL:
https://github.com/rivantsov/ngraphql

on this page:
https://graphql.org/code/#c-net

thank you

[2020-11-03 00:27] carolstran commented on #875
Should we close this issue now?

[2020-11-03 00:56] carolstran commented on #941
👋🏼  Thanks for opening an issue! Feel free to open a PR adding the NGraphQL link to the Code page 😊

[2020-11-03 01:52] rivantsov commented on #941
thank you - just did!

[2020-11-03 05:14] mikeesto commented on #932
https://github.com/graphql/graphql.github.io/pull/938 uses [gatsby-plugin-webfonts](https://www.gatsbyjs.com/plugins/gatsby-plugin-webfonts/) (there are so many font plugins 😅 ) to self host the fonts so I think this can be closed now.

[2020-11-03 05:34] mikeesto opened #946 "Building schema error when running project with NPM"
When trying to `npm install && npm start`:

<img width="809" alt="Screen Shot 2020-11-03 at 2 57 30 pm" src="https://user-images.githubusercontent.com/21051488/97952005-c124d700-1de7-11eb-9622-1e360b19cf2c.png">

There seems to be some related discussion about it [here](https://github.com/gatsbyjs/gatsby/issues/13278) although there's no resolution. I ended up deleting node_modules & package-lock.

[2020-11-03 05:49] mikeesto opened #947 "Sidebar entries are duplicated on learn page"
Visible in the sidebar on the [/learn](https://graphql.org/learn/) page. There are many duplications, the screenshot doesn't do it justice.

<img width="183" alt="Screen Shot 2020-11-03 at 3 45 21 pm" src="https://user-images.githubusercontent.com/21051488/97953338-df8cd180-1deb-11eb-96c2-c015fea202ad.png">

[2020-11-03 15:48] Urigo commented on #932
Thanks @mikeesto !
closing

[2020-11-03 15:48] #932 closed

[2020-11-03 20:03] taylorreece commented on #947
`source` branch is fixed by https://github.com/graphql/graphql.github.io/pull/938/commits/9cb51ac600eff2745ebb91dee91ba57dbbc3cb7c

I imagine they just need to deploy the site to fix the issue.

[2020-11-04 10:58] #947 closed

[2020-11-04 10:59] Urigo commented on #947
merged and deployed.
Please check in a couple of minutes and let me know if the issue persists.
Thank you so much for reporting!

[2020-11-04 14:51] Urigo commented on #875
Yes!
Thank you so much for everyone involved!
Retweet and spread the word - https://twitter.com/GraphQL/status/1323283377349427201?s=20 ;)

[2020-11-04 14:51] #875 closed

[2020-11-04 17:22] Urigo commented on #768
We now have an open PR for this change, please give your thoughts and reviews there as well:  https://github.com/graphql/graphql.github.io/pull/936

[2020-11-04 19:36] acao opened #952 "new mini IDE for site using monaco-graphql"
we should build a new mini-IDE for the docs using `monaco-graphql`, since it's actually screen-reader accessible, supports multiple instances (with shared, single schema fetch) and it already supports most of the new language features that we need to document (such as interfaces implementing interfaces).

according to the vscode team, the best way to re-use the same monaco mode instance across mul

[2020-11-04 19:39] dotansimha commented on #952
That's a great idea ;) We are using it in [GraphQL Codegen](https://graphql-code-generator.com/) website and it works great!

[2020-11-07 02:18] mikeesto opened #955 "Menu overflowing on mobile viewports"
<img width="413" alt="Screen Shot 2020-11-07 at 12 10 46 pm" src="https://user-images.githubusercontent.com/21051488/98429525-e02aae00-20f2-11eb-8ad9-e9b899c02002.png">

It might be worth looking at using a hamburger menu (or similar) for mobile.

[2020-11-10 11:56] ardatan commented on #790
Is this issue still relevant after Gatsby migration?

[2020-11-10 11:58] ardatan commented on #831
I think this has been fixed after Gatsby migration;
https://github.com/graphql/graphql.github.io/pull/938/commits/048322edf548a15f566c34d5a2113cd2e9f6ed96

[2020-11-10 13:10] saihaj commented on #790
Yes it is still relevant after the migration since the issue is caused because they are JS based animations

[2020-11-12 06:43] uta-mori commented on #173
#938
According to this, the site has moved to the latest Gatsby
Maybe we'll make some progress on the translation issue (Crowdin integration).

[2020-11-12 06:58] uta-mori commented on #173
It seems that docusaurus v2 under development will integrate crowdin
It might be easier to migrate to facebook docusaurus v2 than to integrate crowdin into Gatsby

https://github.com/facebook/docusaurus/pull/3325

[2020-11-13 07:50] rt1301 commented on #955
Is this issue open? I would like to work on it

[2020-11-13 22:43] mikeesto commented on #955
Hi @rt1301 . Carolyn has made some progress on this: https://github.com/graphql/graphql.github.io/pull/957 . There still might be an opportunity to look at implementing a burger menu though!

[2020-11-14 04:31] meitros opened #959 "List of python libraries on code page"
Hey - I saw on another issue that this is on hold pending #911, but wanted to open an issue for the python list. It only lists one library (Graphene), and the maintainer of graphene just quit leaving it currently unowned (https://github.com/graphql-python/graphene/issues/1127.)

I think it would be nice to have at least one actively-being-worked-on entry for writing a graphql server in python (Ari

[2020-11-16 11:47] IvanGoncharov opened #960 "Replace "/users" page with case studies"
I think a [simple list of companies](https://graphql.org/users) was useful in the early days but today GraphQL usage is so widespread (especially internally) that it doesn't add too much value anymore.
I suggest replacing it with a case study page similar to the one that Apollo has:
https://www.graphql.com/case-studies/

With simple rules:
* Article should be written on the official blog page
* It

[2020-11-16 14:25] carolstran commented on #955
Ah sweet @mikeesto, I didn't even realize there was an issue open for this! It was bugging me while I was working on a different part of the site 😆  I merged my fix but yeah if you'd be interested in implementing a burger menu @rt1301 (or especially finding a way to keep the search bar visible at various viewpoints), that'd be amazing 🤩

[2020-11-16 14:26] rt1301 commented on #955
@carolstran Ok I'll work on these features. Thanks!

[2020-11-16 14:26] carolstran commented on #959
Hey @meitros, thanks for opening an issue! Also a good reminder that I need to update #911. While we're still debating a new code page in #936, you can already start adding libraries to the existing list. Feel free to open a PR with your additions 😊

[2020-11-16 14:31] carolstran commented on #946
@mikeesto I also ran into this the first time I launched the site post-Gatsby migration. I'm working on a new contributing guide and thinking of only encouraging the use of `yarn` for now since there's no resolution on the Gatsby end 🤷🏼‍♀️

[2020-11-16 14:34] orta commented on #946
Yep, we should drop the npm installation recommendations - they don't get the lockfile and will definitely have different builds which would cause random issues like this

[2020-11-16 15:37] lmeysel opened #961 "Dark Theme planned"
Is there a dark theme planned? How are chances it will be implemented?

[2020-11-16 19:24] Urigo commented on #961
We would love to review PRs and contributions!

[2020-11-17 16:54] orta commented on #911
OK, now that #936 is going to be merged soon - here's what I think should be the guidelines for the code page:

### Adding Something

Most cases:
 - We accept any PR which adds a new library, tool or service to the code page
 - We ask that any _library_ includes a few paragraphs for markdown describing usage and offering a chance to let people grok the project priorities.
 - We are totally OK with

[2020-11-17 19:11] orta commented on #961
Any implementation should avoid flashing, would recommend following this: https://joshwcomeau.com/gatsby/dark-mode/

[2020-11-17 19:18] orta commented on #854
Doesn't look like this should be removed IMO, the project has a lot of activity https://github.com/graphql-dotnet/graphql-dotnet/graphs/contributors

[2020-11-17 19:18] #854 closed

[2020-11-18 15:26] orta commented on #768
This is live!

[2020-11-18 15:26] #768 closed

[2020-11-18 18:55] patrick91 commented on #959
I think this can be closed, there seem to be all the python libraries added to the site :)

[2020-11-18 20:22] meitros commented on #959
Wow, nice job with the new page!

[2020-11-18 20:22] #959 closed

[2020-11-18 21:17] chalin opened #966 "Code of Conduct top-nav link results in 404"
https://graphql.org/codeofconduct/ currently results in a 404:

[2020-11-19 12:30] #966 closed

[2020-11-19 23:35] rivantsov commented on #941
the page had been redesigned and the link to NGraphQL is not carried over. Is it just overlook or there's a reason? I can resubmit PR for new page.
thanks

[2020-11-20 11:27] rt1301 commented on #955
@carolstran I have made the PR with the required changes, please have a look. Thanks!

[2020-11-20 11:28] rt1301 commented on #961
Is this issue open? If possible I would like to work on this

[2020-11-20 14:22] lmeysel commented on #961
...at least i am not working on it

[2020-11-20 21:56] orta commented on #941
Mistake!

[2020-11-20 22:17] rivantsov commented on #941
will you fix it pls?

[2020-11-21 14:32] orta commented on #941
Sure, I can merge a PR 👍🏻

[2020-11-21 21:54] rivantsov commented on #941
all right, will make a PR, thanks!

[2020-11-23 12:11] Urigo opened #975 "Continuously updating dependencies"
I'm in favor of setting up renovate or dependebot so we'll keep up to date with dev dependencies versions and won't fall behind like before..

@orta @ardatan @carolstran thoughts?

[2020-11-23 12:56] orta commented on #975
Happy to have them turned on, but I have all these types of bots removed from all my notifications because I think it's far too much noise for the little value they give. So, someone else will need to handle merging and keeping on top of them etc.

[2020-11-23 16:54] carolstran commented on #975
Yeah, I also think a bot to monitor dependencies is a good idea!

[2020-11-24 00:02] rivantsov commented on #941
added a PR:
https://github.com/graphql/graphql.github.io/pull/976
please merge.
thank you

[2020-11-25 10:31] carolstran commented on #911
I like what you've suggested @orta! My vote is that we add these points to the contributing guide and then close this issue 😁

[2020-12-02 13:33] Deepak-du commented on #960
I want to work on this issue can you Assignee me?

[2020-12-12 15:33] #911 closed

[2020-12-12 15:37] carolstran commented on #975
We got our first dependabot PR since this issue was open (#989) 🤖  🎉

So what should be the process for merging? Beyond all the builds/tests being green.

[2020-12-15 09:13] #834 closed

[2020-12-15 22:38] StingyJack opened #992 "The learning section for Mutation is missing example for both Update and Upsert"
https://graphql.org/learn/queries/#mutations

### Description

I cant find any information about how to craft an update; how does graphql identify what the target(s) of the update are?

The example code is just a create (which is still unclear to me what each of these parts is)
[code]
What exactly happened here?
- `$ep : JEDI` was specified but _how was it used_?
- What does the record look like b

[2020-12-16 06:27] acao commented on #952
there are some fantastic react hooks out there for monaco editor already. we also have a [react + monaco example ](https://github.com/graphql/graphiql/blob/7117b7ccd2a2872e0051c8751252040d4042e190/packages/graphiql-2-rfc-context/src/components/QueryEditor.tsx#L51) in the form of an unfinished graphiql 2.x rfc!

[2020-12-17 13:16] orta commented on #941
That's in

[2020-12-17 13:16] #941 closed

[2020-12-17 19:58] StingyJack commented on #250
@carolstran if someone is going to be addressing these problems with the mutations, I have logged related issue #992 that they should be considering as well.

[2020-12-19 15:37] StingyJack commented on #992
I'm going to leave this open as someone may find value in it or any answer that can be provided, but we are stopping our POC of using GraphQL because even though by name it is a query language, the spec and everything after the first tutorial shows that it is at best an incomplete query language.

[2020-12-21 19:57] carolstran opened #993 "Create a new Learn section for Subscriptions"
### Description

Currently, the [Learn section of graphql.org](https://graphql.org/learn/) doesn't include any information about subscriptions. Right now, it's only in the specification, and that includes details for [how to write and execute subscriptions](https://spec.graphql.org/draft/#sec-Subscription).

It'd be great if we could get a section going and add some walk-throughs and tutorials so

[2021-01-04 15:54] carolstran opened #995 "CSS transitions for revealing FAQ answer"
While creating the new accordion design for the [FAQ page](https://graphql.org/faq/) (#985), I ran into issues adding transitions to the answer text. It'd be great to have that though because it provides a better UX for those reading through the FAQ.

Here's [a commit with the initial implementation](https://github.com/graphql/graphql.github.io/pull/985/commits/e3d2b60e384751dc3390bb5e741a82a02711

[2021-01-08 14:46] j0k3r commented on #993
Duplicate of #584

[2021-02-15 15:21] #995 closed

[2021-02-15 15:26] carolstran opened #1005 "Write more FAQ answers based on feedback"
The following questions are some ideas of what questions could be added to the FAQ page based on feedback we've received on the page so far.

🙋🏼  If anyone wants to take one (or more), please comment in this issue and then [follow the contributing guidelines](https://github.com/graphql/graphql.github.io/blob/source/CONTRIBUTING.md#add-a-question-to-the-faq) to open your pull request 🚀

Here are th

[2021-02-20 07:27] saswatamcode opened #1006 "Search bar is illegible in few screens"
### Description

The search bar is illegible in the index screen, after scrolling down from the hero container and selecting the search bar. The hero search bar and and header search bar seem to overlap. And in screens such as Community, the search bar pops out of the navbar on focus and the search bar being transparent becomes illegible.

### Steps to Reproduce
Visit [site](https://graphql.org/),

[2021-02-20 09:20] Itsaadarsh commented on #1005
Hello there @carolstran, I'd like to work on this feature so can you assign this to me?

[2021-02-22 09:41] carolstran commented on #1005
Hey @Itsaadarsh, thanks for being interested in adding to the FAQ 🚀  Would you like to work on all of the questions in this issue or would you prefer to start with one initially? Either way, you don't have to post them here first - you can open the PR and then it'll be reviewed by the team 😊

[2021-02-22 19:43] Itsaadarsh commented on #1005
Hey @carolstran, I'll start working on all the above-mentioned FAQs, if I'm not sure about some of them I'll skip them and also let you know about the skipped once, is that fine?

[2021-03-02 05:11] YashKumarVerma opened #1015 "Suspended Twitter Account on Site"
### Description
https://graphql.org/community/#twitter contains this twitter ID

![image](https://user-images.githubusercontent.com/14032427/109600785-b5ea7980-7b43-11eb-9c36-3f18c2c6f7d6.png)

### Steps to Reproduce
https://graphql.org/community/#twitter

### Expected Result
only valid Twitter accounts should be there for reference.

### Actual Result
the account is suspended

### Additional Cont

[2021-03-02 14:24] #1015 closed

[2021-03-12 02:35] jihoon-seo opened #1021 "Updates of this repo is not reflected to https://graphql.github.io"
### Description

- The default branch of this repo is `source`.
- The latest commit of the `source` branch was on Mar 10, 2021. ([Link](https://github.com/graphql/graphql.github.io/commits/source))
- But the last deployment to `https://graphql.github.io` by `github-pages` was on 16 Oct 2020. ([Link](https://github.com/graphql/graphql.github.io/deployments))
  - It seems that this is because the la

[2021-03-12 02:44] saihaj commented on #1021
`https://graphql.org` is hosted on Netlify and pushes to `source` get deployed that is why `master` branch is not synced. It is possible to have a GH action that will deploy the `source` to `master` (but seems waste of resources) or we can setup redirect from `graphql.github.io` -> `graphql.org`.
@orta @IvanGoncharov thoughts?

[2021-03-12 02:54] jihoon-seo commented on #1021
@saihaj Thank you for your comment.

I think that one with proper privilege can change the source branch of `https://graphql.github.io` from `master` to `source`
at https://github.com/graphql/graphql.github.io/settings

---

![image](https://user-images.githubusercontent.com/46767780/110884881-23a75a00-8329-11eb-8004-1a3ecc7429d5.png)

[2021-03-12 02:55] saihaj commented on #1021
Yes but the issue is that this is a Gatsby site and we need to build it in order for GH pages to deploy. So can't just change the branch for GH pages

[2021-03-12 03:16] brianwarner commented on #1021
I can confirm we build with netlify from the `source` branch, which is also the primary branch in this repo. My guess is that things probably just need to be merged.

@orta, @carolstran, @IvanGoncharov do you mind if I go through and merge the obvious ones?

[2021-03-12 13:23] orta commented on #1021
Oof, this is a bit gnarly, I think the only reasonable answer here is that pushed to `source` trigger a GitHub action to deploy the build version of the site to graphql.github.io

If we don't do that then we break any existing links

[2021-03-12 20:52] DanielRosenwasser opened #1022 "Deprecated URL message"
### Description

I opened up https://graphql.org/users/ and I get what's probably an undesirable message.

[code]

![image](https://user-images.githubusercontent.com/972891/110997010-a16f6380-8331-11eb-9d31-8dc5eebe8893.png)

### Steps to Reproduce

Navigate to https://graphql.org/users/

[2021-03-12 20:53] brianwarner commented on #1022
Thanks Daniel, I have a larger PR inbound that fixes this (#1019).

[2021-03-12 21:51] DanielRosenwasser commented on #1022
Sure, sorry about the noise!

[2021-03-12 21:52] brianwarner commented on #1022
No worries, thanks for taking the time to raise it! I just noticed it myself and fixed it in the other stuff I'm doing.

[2021-03-16 08:15] #1006 closed

[2021-03-16 19:40] brianwarner commented on #1021
It just clicked for me (sorry I'm slow this week...) that we have two site generators involved here. I agree @orta, it will get gnarly to keep the legacy GitHub Pages site (which as @jihoon-seo mentions was built from `master`) in sync with the current Gatsby site (e.g., `source`). It will get gnarlier as we add features and content to the Gatsby site, and we have two identical looking but increas

[2021-03-17 09:10] orta commented on #1021
Yeah, we'd need to add redirects for every existing page because the redirects plugin just [uses a HTML + JS file](https://github.com/jekyll/jekyll-redirect-from/blob/master/lib/jekyll-redirect-from/redirect.html) which means we'll be doing a bunch of work to make the redirects happen aka there's no DNS settings for this

I think a double deploy is probably the right answer

[2021-03-17 21:22] brianwarner commented on #1021
I worry a little about things getting out of sync if we are maintaining the same content on parallel sites.

That said, if the Jekyll site doesn't hasn't been updated, then the number of pages on the graphql.github.io version of the site should be a fixed number. It would be painful, but hopefully "only one time" painful, to put individual redirects in place for each page on the old site, pointing

[2021-03-18 03:22] brianwarner commented on #1021
@orta, I did a little playing around tonight, would you mind taking a look at #1025? I basically scraped for all .html pages and replaced them with a stub index file that uses meta refresh to do the forwarding.

It's not exactly the most elegant of solutions elegant, but it should have a minimal risk of human error and require no maintenance... I hope...

[2021-03-19 02:42] jihoon-seo opened #1026 "Localization and Internationalization"
How do you think about Localization and Internationalization of `https://graphql.org`?

[Some links]
- [Localization and Internationalization with Gatsby (i18n)](https://www.gatsbyjs.com/docs/how-to/adding-common-features/localization-i18n/)
- https://reactjs.org/languages/ (`reactjs.org` is Gatsby-based.)
- https://graphql-kr.github.io (Korean-version website, outdated)
  - GitHub repo: https://g

[2021-03-22 03:31] ziunadev commented on #1006
### The bug still live
I think I still get the bug. I was visited graphql.org recently, suddenly when I'm trying to search something the bug appears

### Screenshot

- On white screen after i scrolled the screen

![image](https://user-images.githubusercontent.com/71458677/111936523-6ec72700-8af8-11eb-8a26-aa2786cb738a.png)

- When dark navbar overlapping the white

![image](https://user-images.git

[2021-03-25 02:14] jihoon-seo commented on #1021
- This issue was resolved by #1025

[2021-03-25 02:14] #1021 closed

[2021-03-25 16:30] Carthanial opened #1027 "Site Down"
### Description

The website never loads. Have tested it with down detector type sites and they come back the same.

### Steps to Reproduce

Visit graphql.org in your browser

### Expected Result

The website to load.

### Actual Result

Buffer circle animation never stopping.

### Additional Context

The browser I use is firefox

[2021-03-25 16:45] saihaj commented on #1027
Whenever Netlify fixes CDN issue site should be up https://www.netlifystatus.com

[2021-03-25 17:34] brianwarner commented on #1027
I've requested a DNS change to switch to their new load balancer, per the guidance on the status page.

[2021-03-26 05:08] mikeesto commented on #1027
Looks to be resolved now 👍

[2021-03-26 19:33] benjie commented on #1027
Agreed

[2021-03-26 19:33] #1027 closed, assigned to nobody

[2021-03-29 19:30] adithyaakrishna opened #1030 "Search Input Field Overlaps The Text"
### Description
When I visited the [GraphQL Learn Page](https://graphql.org/learn/), and wanted to search for a topic, I clicked on the search field and saw this bug with the input field

### Steps to Reproduce
Click on the search bar, the search field overlaps the text
![image](https://user-images.githubusercontent.com/23498248/112889107-d67e0300-90f2-11eb-9c36-8ceddf960c83.png)

### Expected Res

[2021-03-30 02:06] mikeesto commented on #1030
Before you start working on it, I believe it has been fixed in this open PR: https://github.com/graphql/graphql.github.io/pull/1019#issuecomment-799722063

[2021-04-01 22:06] brianwarner opened #1033 "Help wanted: add support for categories to the blog"
I'm opening this issue as a placeholder, in case someone has some spare cycles and is looking for a way they can help out with the website.

I recently pushed a bunch of new content during the migration from https://foundation.graphql.org to https://graphql.org/foundation. This included quite a few news items, which ended up in a flat list on https://graphql.org/blog/

I added tags to the front ma

[2021-04-14 10:23] orama254 opened #1042 "Docs: Add Nairobi GraphQL Meetup to the Community Events page"
**Description:**
<br>
Add Nairobi GraphQL Meetup to the community Events page

[2021-04-23 20:05] #1033 closed, assigned to nobody

[2021-05-09 01:01] sgpinkus opened #1049 "Docs :: GraphQLResult is not defined"
### Description

The [API doc](https://graphql.org/graphql-js/graphql/#graphql) for the graphql() function says it returns `Promise<GraphQLResult>`. But GraphQLResult is not defined, and does not exist in the code base AFAICT.

### Motivation

Completeness, accuracy.

[2021-05-09 01:23] saihaj commented on #1049
Good catch. `ExecutionResult` is what is returned. Docs for [`graphql-js`](https://github.com/graphql/graphql-js) are outdated on this site as well as in [`graphql-js/docs`](https://github.com/graphql/graphql-js/tree/main/docs). We are currently migrating to TypeScript. Generating docs (using ts docs or other tools) and providing more examples is next task in [`v16` release plan](https://github.co

[2021-05-09 14:12] sgpinkus commented on #1049
OK cool. Since then I've noticed a bunch of other inconsistencies in those docs. Like for example the [docs say GraphQlSchemaConfig](https://github.com/graphql/graphql-js/blob/main/docs/APIReference-TypeSystem.md#graphqlschema) looks like this:

[code]

when it's actually this on master:

[code]

Since it's a wip I won't bother making anymore issues for docs. Feel free to close this if you want.

[2021-05-21 17:36] #1042 closed, assigned to nobody

[2021-06-02 09:50] aghArdeshir opened #1055 "DOCS: invalid/404 link in docs."
In documentation of graphql, Validation page (https://graphql.org/learn/validation/) there is a link in second paragraph, pointing to a file in github. but github return 404 Not Found.

This is where the link points to: https://github.com/graphql/graphql-js/blob/main/src/__tests__/starWarsValidation-test.js

[2021-06-02 10:49] aghArdeshir commented on #1055
There is another one in https://graphql.org/learn/introspection/

[2021-06-02 13:52] brianwarner commented on #1055
Good catch @aghArdeshir, PR inbound shortly.

[2021-06-02 14:20] #1055 closed, assigned to nobody

[2021-06-25 01:06] saboyutaka opened #1060 "Enabling OAuth App access restrictions for your organization on GitHub"
I'm touching with the GitHub API v4 Explorer and found that the GraphQL organization does not allow OAuth app access.

Is there any reason for this? If it allow OAuth App access restrictions, it would be a good example of how to use GraphQL.

https://docs.github.com/ja/graphql/overview/explorer
https://docs.github.com/en/organizations/restricting-access-to-your-organizations-data

<img width="833"

[2021-07-29 14:33] alejalapeno opened #1074 "Pagination example error: Buffer is not defined"
### Description

The output/returned response for the last pagination query example returns an error of "Buffer is not defined"

### Steps to Reproduce

https://graphql.org/learn/pagination/#complete-connection-model
View the output of the example in the Compllete Connection Model section in your browser.

### Expected Result

A non-errored GraphQL response

### Actual Result

[code]

### Addition

[2021-08-06 08:24] alexanium-dev commented on #1074
And the similar error is here: https://graphql.org/learn/queries/#using-variables-inside-fragments

[2021-08-08 09:41] hyposlasher opened #1078 "Docs: Apollo Server example throws error"
### Description

When trying run **Apollo Serve**r code example from https://graphql.org/code/ I got an error:

[code]
### Steps to Reproduce

1. `npm install apollo-server-express express`
2. `run node server.js` with this code in `server.js`:
[code]

### Expected Result

code runs with no errors

### Actual Result

code runs with error

[2021-08-08 12:20] saihaj commented on #1078
`server.start()` is a promise so you need to resolve it. Checkout apollo docs on how to use it https://github.com/apollographql/apollo-server/tree/main/packages/apollo-server-express#express

[2021-08-22 15:57] ghost commented on #1078
Hey it is pretty simple to solve this issue. Here is what I did
[code]

Basically create a main function and make it an async function and await ```server.start();```

[2021-08-22 16:01] hyposlasher commented on #1078
Thank you but I know how to solve it. I am just pointing that there is an error in the docs

[2021-08-22 16:10] ghost commented on #1078
I will open pr and fix this issue.

[2021-08-30 08:19] renovate[bot] opened #1098 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/graphql/graphql.github.io).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## D

[2021-09-06 12:54] ghost opened #1107 "add toggle for alphabetical sort of language list in /code"
### Description

only one html/css change requred, reference implementation:
https://codepen.io/dym-sh/pen/gORLrGQ?editors=1100

- also add Dart as alias for Flutter
- also set column-count to auto, no need for screen-size-breakpoints dependency

### Motivation

so, in https://graphql.org/code/
i was scanning the list for Dart, but only found Flutter after i started going one-by-one
both of which

[2021-09-12 17:56] SURAJITSHAW commented on #993
Hello I really like to work on this. But I have a question after adding a subsection 'subscription' to learn section, I just add the contents that are here [https://spec.graphql.org/draft/#sec-Subscription](url) to the 'subscription'. Is it Okay ?

[2021-09-13 09:43] htbkoo opened #1112 "Adding a quick link to the source code / schema of example at docs"
Hi team,

I am trying to learn `GraphQL` by reading [the docs](https://graphql.org/).

While I personally found the [interactive examples](https://graphql.org/learn/queries/#fields) quite useful, I was also quite curious about the actual schema / data behind the interactive examples.

As discussed in #728, I believe [the schema and data can be found here at `graphql.github.io/site/_core/swapiSchem

[2021-09-22 14:35] saiskee opened #1126 "`Buffer is not defined` error in Variables example"
### Description

Seeing the error `Buffer is not defined` in this query: https://graphql.org/learn/queries/#using-variables-inside-fragments

### Steps to Reproduce

Visit https://graphql.org/learn/queries/#using-variables-inside-fragments

### Expected Result

The query would work as expected
![image](https://user-images.githubusercontent.com/1731122/134364140-c8ea956b-afc3-45e6-bc32-a9f81f3f3624

[2021-10-02 00:02] robz commented on #1126
The same issue is on the pagination section: https://graphql.org/learn/pagination/#complete-connection-model

[2021-10-05 09:31] Urigo commented on #1126
if someone wants to give it a shot, here is the [schema](https://github.com/graphql/graphql.github.io/blob/source/src/components/Marked/swapiSchema.tsx) and the [execution](https://github.com/graphql/graphql.github.io/blob/source/src/components/Marked/MiniGraphiQL.tsx)

[2021-10-19 14:37] tonyhallett opened #1141 "learn/execution resolver function - should mention signature is specific to js server"
From https://github.com/graphql/graphql.github.io/blob/source/src/content/learn/Learn-Execution.md

I suggest that this is changed to "This resolver function receives four arguments"

Given that the specifications [specifies](https://spec.graphql.org/June2018/#ResolveFieldValue())

Let resolver be the internal function provided by objectType for determining the resolved value of a field named fiel

[2021-11-26 21:30] fskuteken opened #1168 "The instructions at "Getting Started With GraphQL.js" are not working"
### Description

The instructions at the page [Getting Started With GraphQL.js](https://graphql.org/graphql-js/) didn't work for me.
Even though the page mentions Node v6, I expected that it should work on more recent versions as well.

### Steps to Reproduce

Follow the instructions at https://graphql.org/graphql-js/:
1. `npm init`
2. `npm install graphql --save`
3. Create the `server.js file`

[

[2021-12-15 11:36] notrab commented on #1168
Hey @fskuteken

I've submitted a PR to fix this.

If you update the last part to be the following, it'll work:

[code]

[2022-01-02 10:22] Arthur-Milchior commented on #1126
Issue still exists

[2022-01-14 19:07] snoopdougiedougie opened #1189 ""Using variables inside fragments" code example has errors"
### Description

The code example in https://graphql.org/learn/queries/#using-variables-inside-fragments shows the following errors:

[code]

### Steps to Reproduce

Navigate to the link.

### Expected Result

No errors.

### Actual Result

Errors

### Additional Context

none

[2022-01-15 15:04] MadhaviMandalia opened #1192 "Link for graphql-kotlin docs gives "page not found error""
### Description
Page not found for graphql-kotlin docs in GraphQL website

### Steps to Reproduce

1. Visit https://graphql.org/code/#java-kotlin
2. Click on [`graphql-kotlin docs`](https://opensource.expediagroup.com/graphql-kotlin/docs/getting-started)

[2022-01-15 15:06] MadhaviMandalia commented on #1192
Please let me know if I can raise a PR for this do provide me the correct link

Thanks & Regards.

[2022-01-19 11:28] #1126 closed, assigned to nobody

[2022-01-19 11:28] #1074 closed, assigned to nobody

[2022-02-08 10:17] orta commented on #1192
Yep, no need to wait for permission to fix a broken link in a PR 👍🏻

[2022-02-14 09:30] MadhaviMandalia commented on #1192
@orta can you provide me the link for documentation?

Thanks & Regards.

[2022-02-14 11:41] orta commented on #1192
There's docs in the README: https://github.com/graphql/graphql.github.io#how-to-contribute

[2022-03-18 15:30] Bilel-NEJI opened #1216 "GraphQL with Optional parameters (Java + Angular-Apollo)"
Hi everybody,
I'm building a GraphqlQL server using Quarkus and I want to consume its endpoint with apollo-angular.
And I need to filter the data in the backend (not filtering in the frontend). So I use a resource method with optional parameters:

    @GraphQLApi
    public class McsClientResource {

    @Inject
    McsClientImpl service;

    @Query("allDevices")
    @Description("Get all devices

[2022-06-12 13:00] OliverSieweke opened #1246 "Order of the "Queries and Mutation" sections on the Learn Page"
Thank you for the very readable and well organized [_Learn_](https://graphql.org/learn/) material on the website. This is just to propose a slight change in the order of the sections of the [_Query and Mutation_](https://graphql.org/learn/queries/) page.

The [_Operations Name_](https://graphql.org/learn/queries/#operation-name) section specifies:

Which is not quite true as the previous [_Fragmen

[2022-06-13 14:29] Lokprakash-babu opened #1247 "Sticky Sidebar for better reading"
### Description

When a reader scrolls to the bottom of the doc, they have to go all the way to the top to navigate to other doc links. If the sidebar is sticky, it will be a good UX.

### Motivation

When I was reading the doc, in order to see the options available in the sidebar, once I finished a particular page, I would have to scroll all the way to top again. This becomes annoying if we keep

[2022-06-21 12:12] Lokprakash-babu commented on #1246
Hi,

Raised a [PR](https://github.com/graphql/graphql.github.io/pull/1252). Hopefully, this will resolve the issue.

[2022-07-12 18:58] mfulton26 opened #1257 "Introspection: require authorization"
[Authorization | GraphQL](https://graphql.org/learn/authorization/) talks about delegating authorization logic to the business logic layer. This makes sense to me for most things. One thing I'm not sure on though is how can I lock down introspection if I want to have a tool in production where most people can't use it (for security reasons) but software engineers, product managers, operators, and

[2022-07-12 19:01] mfulton26 commented on #1257
I can ask this elsewhere instead (e.g. https://github.com/graphql/graphql-js/discussions) but I was thinking that some documentation for this might be helpful as authorization handled in the business layer makes perfect sense to me but with introspection protection as an exception that many folks might be interested in doing rather than completely disabling introspection in production (which many

[2022-09-20 21:33] allan-bonadio opened #1270 "tutorials need improvement"
### Description

I tried the first three JS tutorials on your site, and they all failed the first time.

### Steps to Reproduce
A
1. go to https://graphql.org/code/.
2. Do the GraphQL.js demo; copy/paste in contents as shown to hello.js
3. node hello.js # gets error messages
4. Nothing telling me to create an NPM project!  Can't import anything.

B
1. set up an NPM project named 'graphql_try1':
2.

[2022-10-16 22:52] Tobertet commented on #961
This would be awesome, my eyes burned when I tried to read the docs

[2022-10-19 17:36] ThanushaMandala commented on #1112
Hi Team,

the documentation seems to be a great place to start for GraphQL beginners, but having the access to schema and data as mentioned by @htbkoo would be really accelerating the understanding of the learners.

Thank you for building an amazing resource for GraphQL enthusiasts :)

[2022-11-07 11:11] #1192 closed, assigned to nobody

[2022-11-11 15:21] miami-man opened #1286 "Access to push to repo to add JS graphql client and server"
Hi,

I would like to raise a PR to add a JS graphql client and server to the `code/language-support/javascript section. Is this something I can raise a PR for or is there another process through which libraries can get added to this section?

For reference, the library I'd like to add is https://github.com/badbatch/graphql-box/.

Cheers,
D

[2022-11-11 23:12] orta commented on #1286
Feel free to send a pull request, yep

[2022-11-12 18:49] Urigo commented on #438
This can be closed, we are now MIT: https://github.com/graphql/graphql.github.io/pull/1104

[2022-11-12 18:49] #438 closed

[2022-11-12 18:51] Urigo commented on #723
[Yoga Server](https://the-guild.dev/graphql/yoga-server) is now listed on the code section

[2022-11-12 18:53] Urigo commented on #823
We can close this as this repo is now MIT

[2022-11-12 18:53] #823 closed

[2022-11-12 23:51] hwillson commented on #1286
@dylanaubrey we'll go ahead and close this off since Orta answered in https://github.com/graphql/graphql.github.io/issues/1286#issuecomment-1312257465. Fire over a PR when ready. Thanks!

[2022-11-12 23:51] #1286 closed, assigned to nobody

[2022-11-12 23:52] hwillson commented on #1270
Thanks very much for the feedback @allan-bonadio! If you're up for contributing, we'd love the help. 🙇

[2022-11-13 00:00] hwillson commented on #1216
👋 @Bilel-NEJI - this type of question is better asked elsewhere, like in the [GraphQL Foundation Discord](https://discord.graphql.org/). Issues here are reserved for problems / feature requests regarding the https://graphql.org site. Thanks!

[2022-11-13 00:00] #1216 closed, assigned to nobody

[2022-11-13 00:02] hwillson commented on #1189
Thanks @snoopdougiedougie - I'm not seeing the same thing currently; maybe this was fixed / resolved itself? Let us know if you see this happen again.

![CleanShot 2022-11-12 at 19 01 57](https://user-images.githubusercontent.com/137740/201499358-60d864a8-2a63-41db-ae17-5b0a5df876cb.png)

[2022-11-13 00:02] #1189 closed, assigned to nobody

[2022-11-13 00:04] hwillson commented on #1168
This was fixed by https://github.com/graphql/graphql.github.io/pull/1186 - closing, thanks!

[2022-11-13 00:04] #1168 closed, assigned to nobody

[2022-11-13 00:14] hwillson commented on #1078
As discussed in https://github.com/graphql/graphql.github.io/pull/1082 this was fixed, but the new instructions are not entirely accurate now that Apollo Server 4 has shipped. We'll get this updated - thanks!

[2022-11-13 00:32] hwillson commented on #1060
👋 @saboyutaka - I don't think loosening OAuth app access is something that is going to happen anytime soon (but I'm sure others will chime in and correct me if I'm wrong 😅). There are a bunch of great folks across the community that help the GraphQL Foundation in tons of different ways, many of which have org / collaborator levels of access within the `graphql` org. Disabling OAuth app access rest

[2022-11-13 00:32] #1060 closed, assigned to nobody

[2022-11-13 00:33] hwillson commented on #1030
Fixed by https://github.com/graphql/graphql.github.io/pull/1019 - thanks!

[2022-11-13 00:33] #1030 closed, assigned to nobody

[2022-11-13 00:36] hwillson commented on #993
As @j0k3r mentioned in https://github.com/graphql/graphql.github.io/issues/993#issuecomment-756792639, this is a duplicate of https://github.com/graphql/graphql.github.io/issues/584. Let's continue the discussion in that issue. Thanks!

[2022-11-13 00:36] #993 closed

[2022-11-13 19:56] miami-man commented on #1286
thanks... I cloned the repo and created a branch and was not able to push the branch to the remote, says I don't have access... `ERROR: Permission to graphql/graphql.github.io.git denied to dylanaubrey.`... do you need to add me to list of contributors or something?

[2022-11-13 20:44] orta commented on #1286
I'd recommend learning how pull requests and forks work on GitHub: https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github

[2022-11-13 23:22] hwillson commented on #119
Great discussion all. The site has gone through a few iterations since this issue was created, and has incorporated some of the feedback here. Since this issue is now over 6 years old, let's close it off and track new docs ideas in new issues. Thanks!

[2022-11-13 23:22] #119 closed

[2022-11-13 23:50] hwillson commented on #240
Pagination with GraphQL has taken several twists and turns since this issue was opened. There are lots of [cursor connection spec](https://relay.dev/graphql/connections.htm) alternative approaches out there, and if anyone is up for expanding the current [pagination section](https://graphql.org/learn/pagination/) of the docs with battle tested alternatives, definitely let us know. We'll close this

[2022-11-13 23:50] #240 closed

[2022-11-14 00:27] hwillson commented on #401
Sorry for the delay in responding here @patriklindstrom.

There are many different versions of the Star Wars API floating around, including many different versions within the GraphQL space. As great as it would be to have the https://graphql.org learn docs use the same version as https://github.com/graphql/swapi-graphql, it would be very difficult to keep them in sync. The learn docs are intended

[2022-11-14 00:27] #401 closed

[2022-11-15 09:21] jfcisco opened #1307 "graphql-js error encountered in the `/learn` pages"
### Description

Instead of showing the result of the GraphQL query in the web page, the output box shows an error.

### Steps to Reproduce

1. Open a browser and navigate to either of the following:
    - https://graphql.org/learn/queries/#fields
    -  https://graphql.org/learn/schema/#union-types

### Expected Result

The field name returns a String type, in this case the name of the main hero

[2022-11-15 09:24] jfcisco commented on #1307
I think the code that needs to change is this part: https://github.com/graphql/graphql.github.io/blob/48a374a702262f4e08e71de269466777d86130fb/src/components/Marked/swapiSchema.tsx#L383-L393

Like, the line `return info.schema.getType('Human');` should be `return 'Human';` instead

Similar changes are needed for lines 467 to 480

[2022-11-15 18:57] XtofX commented on #1307
this looks to be the change that introduced the issue:
https://github.com/graphql/graphql.github.io/pull/1293/files

[2022-11-16 10:54] uudashr opened #1310 "Some of Interactive query is broken"
### Description

The interactive query is broken

### Steps to Reproduce

Go to https://graphql.org/learn/queries/

### Expected Result

Should not shown error

### Actual Result

It show error result
![Screen Shot 2022-11-16 at 17 50 07](https://user-images.githubusercontent.com/166053/202161594-17eb731c-83ce-4f9d-b2fa-f792c5e48d18.png)

### Additional Context

[2022-11-16 17:01] isConic commented on #1307
Getting the same error when visiting https://graphql.org/learn/queries/

---

![image](https://user-images.githubusercontent.com/48657113/202245156-c96b48f8-b2a6-4fac-a247-fcaac053d8a8.png)
---

I chose the wrong day to learn graphql 😂

[2022-11-16 17:59] #1310 closed, assigned to nobody

[2022-11-16 18:45] Urigo commented on #1307
That was my bad!
Rushed to update graphql-js to latest....

Thanks everyone for reporting
Solved thanks to @patrick91 in https://github.com/graphql/graphql.github.io/pull/1312

[2022-11-16 18:45] #1307 closed, assigned to nobody

[2022-11-17 17:05] miami-man commented on #1286
I have raised a PR https://github.com/graphql/graphql.github.io/pull/1311... it has some build errors... could someone assist? cheers.

[2022-11-20 01:18] arafatiqbal opened #1314 "Add smooth scrolling when clicking on section links"
### Description

This is a very minor improvement that  could be made to the website, I noticed that when you click on a particular section, it automatically just takes you to that section. Works as intended, but You can easily get lost where you are, since it magically teleports you there. Adding smooth scrolling would help with this issue, and let the reader know where the page is taking them.

[2022-11-20 02:50] MazinAshfaq commented on #1314
If this is still open I can give it a go!

[2022-11-20 02:51] arafatiqbal commented on #1314
Sure @MazinAshfaq

[2022-11-24 20:58] pubudu91 opened #1317 "Add Ballerina language to the Code page"
### Description

Ballerina language's standard library provides a package for GraphQL which can be used for developing GraphQL APIs. It also includes a GraphQL client for interacting with GraphQL endpoints. It would be great if we can list Ballerina as well in the Code page of the site so that people looking for GraphQL libraries/tools will know that this is another option for GraphQL that they ca

[2022-11-30 14:11] TuvalSimha opened #1325 "Website/code/javascript: Last Release is not updated"
### Description

For some libraries, the `Last Release ` is not updated

Problem with:
1. getGitHubStats query
2. Token expired

### Steps to Reproduce

1. Go to https://graphql.org/code/
3. Search for "GraphQL-yoga" for example
4. Examine the Last Release value
5. Go to the GitHub library profile (For example https://github.com/dotansimha/graphql-yoga)
6. Examine the Release section

### Expected